<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * ActionServiceApi provides methods for the ActionService API group.
 */

class ActionServiceApi extends BaseApi
{
    /**
     * Activate Public Key
     * Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the `kid` header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\ActionServiceActivatePublicKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activatePublicKey(\Zitadel\Client\Models\ActionServiceActivatePublicKeyRequest $actionServiceActivatePublicKeyRequest)
    {
        $apiResult = $this->activatePublicKeyWithHttpInfo($actionServiceActivatePublicKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activatePublicKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceActivatePublicKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceActivatePublicKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activatePublicKeyWithHttpInfo(\Zitadel\Client\Models\ActionServiceActivatePublicKeyRequest $actionServiceActivatePublicKeyRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ActivatePublicKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceActivatePublicKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceActivatePublicKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceActivatePublicKeyResponse::class
        );
        return $result;
    }

    /**
     * Add Public Key
     * Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the `kid` header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\ActionServiceAddPublicKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addPublicKey(\Zitadel\Client\Models\ActionServiceAddPublicKeyRequest $actionServiceAddPublicKeyRequest)
    {
        $apiResult = $this->addPublicKeyWithHttpInfo($actionServiceAddPublicKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addPublicKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceAddPublicKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceAddPublicKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addPublicKeyWithHttpInfo(\Zitadel\Client\Models\ActionServiceAddPublicKeyRequest $actionServiceAddPublicKeyRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/AddPublicKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceAddPublicKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceAddPublicKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceAddPublicKeyResponse::class
        );
        return $result;
    }

    /**
     * Create Target
     * Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\ActionServiceCreateTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createTarget(\Zitadel\Client\Models\ActionServiceCreateTargetRequest $actionServiceCreateTargetRequest)
    {
        $apiResult = $this->createTargetWithHttpInfo($actionServiceCreateTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceCreateTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceCreateTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createTargetWithHttpInfo(\Zitadel\Client\Models\ActionServiceCreateTargetRequest $actionServiceCreateTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/CreateTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceCreateTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceCreateTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceCreateTargetResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Public Key
     * Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type `PAYLOAD_TYPE_JWE` will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\ActionServiceDeactivatePublicKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivatePublicKey(\Zitadel\Client\Models\ActionServiceDeactivatePublicKeyRequest $actionServiceDeactivatePublicKeyRequest)
    {
        $apiResult = $this->deactivatePublicKeyWithHttpInfo($actionServiceDeactivatePublicKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivatePublicKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceDeactivatePublicKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceDeactivatePublicKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivatePublicKeyWithHttpInfo(\Zitadel\Client\Models\ActionServiceDeactivatePublicKeyRequest $actionServiceDeactivatePublicKeyRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/DeactivatePublicKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceDeactivatePublicKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceDeactivatePublicKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceDeactivatePublicKeyResponse::class
        );
        return $result;
    }

    /**
     * Delete Target
     * Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`

     * @return \Zitadel\Client\Models\ActionServiceDeleteTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteTarget(\Zitadel\Client\Models\ActionServiceDeleteTargetRequest $actionServiceDeleteTargetRequest)
    {
        $apiResult = $this->deleteTargetWithHttpInfo($actionServiceDeleteTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceDeleteTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceDeleteTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteTargetWithHttpInfo(\Zitadel\Client\Models\ActionServiceDeleteTargetRequest $actionServiceDeleteTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/DeleteTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceDeleteTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceDeleteTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceDeleteTargetResponse::class
        );
        return $result;
    }

    /**
     * Get Target
     * Returns the target identified by the requested ID.   Required permission:    - `action.target.read`

     * @return \Zitadel\Client\Models\ActionServiceGetTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getTarget(\Zitadel\Client\Models\ActionServiceGetTargetRequest $actionServiceGetTargetRequest)
    {
        $apiResult = $this->getTargetWithHttpInfo($actionServiceGetTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceGetTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceGetTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getTargetWithHttpInfo(\Zitadel\Client\Models\ActionServiceGetTargetRequest $actionServiceGetTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/GetTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceGetTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceGetTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceGetTargetResponse::class
        );
        return $result;
    }

    /**
     * List Execution Functions
     * List all available functions which can be used as condition for executions.

     * @return \Zitadel\Client\Models\ActionServiceListExecutionFunctionsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionFunctions(object $body)
    {
        $apiResult = $this->listExecutionFunctionsWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutionFunctions but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceListExecutionFunctionsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionFunctionsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionFunctionsWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ListExecutionFunctions';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionFunctionsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceListExecutionFunctionsResponse::class
        );
        return $result;
    }

    /**
     * List Execution Methods
     * List all available methods which can be used as condition for executions.

     * @return \Zitadel\Client\Models\ActionServiceListExecutionMethodsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionMethods(object $body)
    {
        $apiResult = $this->listExecutionMethodsWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutionMethods but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceListExecutionMethodsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionMethodsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionMethodsWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ListExecutionMethods';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionMethodsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceListExecutionMethodsResponse::class
        );
        return $result;
    }

    /**
     * List Execution Services
     * List all available services which can be used as condition for executions.

     * @return \Zitadel\Client\Models\ActionServiceListExecutionServicesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionServices(object $body)
    {
        $apiResult = $this->listExecutionServicesWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutionServices but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceListExecutionServicesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionServicesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionServicesWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ListExecutionServices';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionServicesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceListExecutionServicesResponse::class
        );
        return $result;
    }

    /**
     * List Executions
     * List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`

     * @return \Zitadel\Client\Models\ActionServiceListExecutionsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutions(\Zitadel\Client\Models\ActionServiceListExecutionsRequest $actionServiceListExecutionsRequest)
    {
        $apiResult = $this->listExecutionsWithHttpInfo($actionServiceListExecutionsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutions but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceListExecutionsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionsWithHttpInfo(\Zitadel\Client\Models\ActionServiceListExecutionsRequest $actionServiceListExecutionsRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ListExecutions';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceListExecutionsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceListExecutionsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceListExecutionsResponse::class
        );
        return $result;
    }

    /**
     * List Public Keys
     * Lists all public keys of a target.  The response includes which key is active and the key's expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - `action.target.read`

     * @return \Zitadel\Client\Models\ActionServiceListPublicKeysResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listPublicKeys(\Zitadel\Client\Models\ActionServiceListPublicKeysRequest $actionServiceListPublicKeysRequest)
    {
        $apiResult = $this->listPublicKeysWithHttpInfo($actionServiceListPublicKeysRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listPublicKeys but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceListPublicKeysResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceListPublicKeysResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listPublicKeysWithHttpInfo(\Zitadel\Client\Models\ActionServiceListPublicKeysRequest $actionServiceListPublicKeysRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ListPublicKeys';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceListPublicKeysRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceListPublicKeysResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceListPublicKeysResponse::class
        );
        return $result;
    }

    /**
     * List targets
     * List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`

     * @return \Zitadel\Client\Models\ActionServiceListTargetsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listTargets(\Zitadel\Client\Models\ActionServiceListTargetsRequest $actionServiceListTargetsRequest)
    {
        $apiResult = $this->listTargetsWithHttpInfo($actionServiceListTargetsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listTargets but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceListTargetsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceListTargetsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listTargetsWithHttpInfo(\Zitadel\Client\Models\ActionServiceListTargetsRequest $actionServiceListTargetsRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/ListTargets';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceListTargetsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceListTargetsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceListTargetsResponse::class
        );
        return $result;
    }

    /**
     * Remove Public Key
     * Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\ActionServiceRemovePublicKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removePublicKey(\Zitadel\Client\Models\ActionServiceRemovePublicKeyRequest $actionServiceRemovePublicKeyRequest)
    {
        $apiResult = $this->removePublicKeyWithHttpInfo($actionServiceRemovePublicKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removePublicKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceRemovePublicKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceRemovePublicKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removePublicKeyWithHttpInfo(\Zitadel\Client\Models\ActionServiceRemovePublicKeyRequest $actionServiceRemovePublicKeyRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/RemovePublicKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceRemovePublicKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceRemovePublicKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceRemovePublicKeyResponse::class
        );
        return $result;
    }

    /**
     * Set Execution
     * Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`

     * @return \Zitadel\Client\Models\ActionServiceSetExecutionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setExecution(\Zitadel\Client\Models\ActionServiceSetExecutionRequest $actionServiceSetExecutionRequest)
    {
        $apiResult = $this->setExecutionWithHttpInfo($actionServiceSetExecutionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setExecution but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceSetExecutionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceSetExecutionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setExecutionWithHttpInfo(\Zitadel\Client\Models\ActionServiceSetExecutionRequest $actionServiceSetExecutionRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/SetExecution';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceSetExecutionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceSetExecutionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceSetExecutionResponse::class
        );
        return $result;
    }

    /**
     * Update Target
     * Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\ActionServiceUpdateTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateTarget(\Zitadel\Client\Models\ActionServiceUpdateTargetRequest $actionServiceUpdateTargetRequest)
    {
        $apiResult = $this->updateTargetWithHttpInfo($actionServiceUpdateTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ActionServiceUpdateTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ActionServiceUpdateTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateTargetWithHttpInfo(\Zitadel\Client\Models\ActionServiceUpdateTargetRequest $actionServiceUpdateTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2.ActionService/UpdateTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $actionServiceUpdateTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ActionServiceUpdateTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ActionServiceUpdateTargetResponse::class
        );
        return $result;
    }
}
