<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * ApplicationServiceApi provides methods for the ApplicationService API group.
 */

class ApplicationServiceApi extends BaseApi
{
    /**
     * Create Application
     * Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\ApplicationServiceCreateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplication(\Zitadel\Client\Models\ApplicationServiceCreateApplicationRequest $applicationServiceCreateApplicationRequest)
    {
        $apiResult = $this->createApplicationWithHttpInfo($applicationServiceCreateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceCreateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceCreateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplicationWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceCreateApplicationRequest $applicationServiceCreateApplicationRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/CreateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceCreateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceCreateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceCreateApplicationResponse::class
        );
        return $result;
    }

    /**
     * Create Application Key
     * Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`

     * @return \Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplicationKey(\Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyRequest $applicationServiceCreateApplicationKeyRequest)
    {
        $apiResult = $this->createApplicationKeyWithHttpInfo($applicationServiceCreateApplicationKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createApplicationKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplicationKeyWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyRequest $applicationServiceCreateApplicationKeyRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/CreateApplicationKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceCreateApplicationKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceCreateApplicationKeyResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Application
     * Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\ApplicationServiceDeactivateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateApplication(\Zitadel\Client\Models\ApplicationServiceDeactivateApplicationRequest $applicationServiceDeactivateApplicationRequest)
    {
        $apiResult = $this->deactivateApplicationWithHttpInfo($applicationServiceDeactivateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceDeactivateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceDeactivateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateApplicationWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceDeactivateApplicationRequest $applicationServiceDeactivateApplicationRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/DeactivateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceDeactivateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceDeactivateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceDeactivateApplicationResponse::class
        );
        return $result;
    }

    /**
     * Delete Application
     * Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete

     * @return \Zitadel\Client\Models\ApplicationServiceDeleteApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplication(\Zitadel\Client\Models\ApplicationServiceDeleteApplicationRequest $applicationServiceDeleteApplicationRequest)
    {
        $apiResult = $this->deleteApplicationWithHttpInfo($applicationServiceDeleteApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceDeleteApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceDeleteApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplicationWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceDeleteApplicationRequest $applicationServiceDeleteApplicationRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/DeleteApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceDeleteApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceDeleteApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceDeleteApplicationResponse::class
        );
        return $result;
    }

    /**
     * Delete Application Key
     * Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`

     * @return \Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplicationKey(\Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyRequest $applicationServiceDeleteApplicationKeyRequest)
    {
        $apiResult = $this->deleteApplicationKeyWithHttpInfo($applicationServiceDeleteApplicationKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteApplicationKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplicationKeyWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyRequest $applicationServiceDeleteApplicationKeyRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/DeleteApplicationKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceDeleteApplicationKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceDeleteApplicationKeyResponse::class
        );
        return $result;
    }

    /**
     * Generate Client Secret
     * Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\ApplicationServiceGenerateClientSecretResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function generateClientSecret(\Zitadel\Client\Models\ApplicationServiceGenerateClientSecretRequest $applicationServiceGenerateClientSecretRequest)
    {
        $apiResult = $this->generateClientSecretWithHttpInfo($applicationServiceGenerateClientSecretRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for generateClientSecret but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceGenerateClientSecretResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceGenerateClientSecretResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function generateClientSecretWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceGenerateClientSecretRequest $applicationServiceGenerateClientSecretRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/GenerateClientSecret';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceGenerateClientSecretRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceGenerateClientSecretResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceGenerateClientSecretResponse::class
        );
        return $result;
    }

    /**
     * Get Application
     * Retrieves the application matching the provided ID.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\ApplicationServiceGetApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplication(\Zitadel\Client\Models\ApplicationServiceGetApplicationRequest $applicationServiceGetApplicationRequest)
    {
        $apiResult = $this->getApplicationWithHttpInfo($applicationServiceGetApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceGetApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceGetApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplicationWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceGetApplicationRequest $applicationServiceGetApplicationRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/GetApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceGetApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceGetApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceGetApplicationResponse::class
        );
        return $result;
    }

    /**
     * Get Application Key
     * Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\ApplicationServiceGetApplicationKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplicationKey(\Zitadel\Client\Models\ApplicationServiceGetApplicationKeyRequest $applicationServiceGetApplicationKeyRequest)
    {
        $apiResult = $this->getApplicationKeyWithHttpInfo($applicationServiceGetApplicationKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getApplicationKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceGetApplicationKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceGetApplicationKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplicationKeyWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceGetApplicationKeyRequest $applicationServiceGetApplicationKeyRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/GetApplicationKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceGetApplicationKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceGetApplicationKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceGetApplicationKeyResponse::class
        );
        return $result;
    }

    /**
     * List Application Keys
     * Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\ApplicationServiceListApplicationKeysResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplicationKeys(\Zitadel\Client\Models\ApplicationServiceListApplicationKeysRequest $applicationServiceListApplicationKeysRequest)
    {
        $apiResult = $this->listApplicationKeysWithHttpInfo($applicationServiceListApplicationKeysRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listApplicationKeys but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceListApplicationKeysResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceListApplicationKeysResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplicationKeysWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceListApplicationKeysRequest $applicationServiceListApplicationKeysRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/ListApplicationKeys';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceListApplicationKeysRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceListApplicationKeysResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceListApplicationKeysResponse::class
        );
        return $result;
    }

    /**
     * List Applications
     * Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\ApplicationServiceListApplicationsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplications(\Zitadel\Client\Models\ApplicationServiceListApplicationsRequest $applicationServiceListApplicationsRequest)
    {
        $apiResult = $this->listApplicationsWithHttpInfo($applicationServiceListApplicationsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listApplications but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceListApplicationsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceListApplicationsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplicationsWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceListApplicationsRequest $applicationServiceListApplicationsRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/ListApplications';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceListApplicationsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceListApplicationsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceListApplicationsResponse::class
        );
        return $result;
    }

    /**
     * Reactivate Application
     * Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\ApplicationServiceReactivateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateApplication(\Zitadel\Client\Models\ApplicationServiceReactivateApplicationRequest $applicationServiceReactivateApplicationRequest)
    {
        $apiResult = $this->reactivateApplicationWithHttpInfo($applicationServiceReactivateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for reactivateApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceReactivateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceReactivateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateApplicationWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceReactivateApplicationRequest $applicationServiceReactivateApplicationRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/ReactivateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceReactivateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceReactivateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceReactivateApplicationResponse::class
        );
        return $result;
    }

    /**
     * Update Application
     * Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\ApplicationServiceUpdateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateApplication(\Zitadel\Client\Models\ApplicationServiceUpdateApplicationRequest $applicationServiceUpdateApplicationRequest)
    {
        $apiResult = $this->updateApplicationWithHttpInfo($applicationServiceUpdateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ApplicationServiceUpdateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ApplicationServiceUpdateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateApplicationWithHttpInfo(\Zitadel\Client\Models\ApplicationServiceUpdateApplicationRequest $applicationServiceUpdateApplicationRequest): ApiResult
    {
        $path = '/zitadel.application.v2.ApplicationService/UpdateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $applicationServiceUpdateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ApplicationServiceUpdateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ApplicationServiceUpdateApplicationResponse::class
        );
        return $result;
    }
}
