<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * AuthorizationServiceApi provides methods for the AuthorizationService API group.
 */

class AuthorizationServiceApi extends BaseApi
{
    /**
     * Activate Authorization
     * ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateAuthorization(\Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationRequest $authorizationServiceActivateAuthorizationRequest)
    {
        $apiResult = $this->activateAuthorizationWithHttpInfo($authorizationServiceActivateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateAuthorizationWithHttpInfo(\Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationRequest $authorizationServiceActivateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2.AuthorizationService/ActivateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $authorizationServiceActivateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\AuthorizationServiceActivateAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * Create Authorization
     * CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createAuthorization(\Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationRequest $authorizationServiceCreateAuthorizationRequest)
    {
        $apiResult = $this->createAuthorizationWithHttpInfo($authorizationServiceCreateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createAuthorizationWithHttpInfo(\Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationRequest $authorizationServiceCreateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2.AuthorizationService/CreateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $authorizationServiceCreateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\AuthorizationServiceCreateAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Authorization
     * DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateAuthorization(\Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationRequest $authorizationServiceDeactivateAuthorizationRequest)
    {
        $apiResult = $this->deactivateAuthorizationWithHttpInfo($authorizationServiceDeactivateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateAuthorizationWithHttpInfo(\Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationRequest $authorizationServiceDeactivateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2.AuthorizationService/DeactivateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $authorizationServiceDeactivateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\AuthorizationServiceDeactivateAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * Delete Authorization
     * DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"

     * @return \Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAuthorization(\Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationRequest $authorizationServiceDeleteAuthorizationRequest)
    {
        $apiResult = $this->deleteAuthorizationWithHttpInfo($authorizationServiceDeleteAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAuthorizationWithHttpInfo(\Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationRequest $authorizationServiceDeleteAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2.AuthorizationService/DeleteAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $authorizationServiceDeleteAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\AuthorizationServiceDeleteAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * List Authorizations
     * ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations

     * @return \Zitadel\Client\Models\AuthorizationServiceListAuthorizationsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthorizations(\Zitadel\Client\Models\AuthorizationServiceListAuthorizationsRequest $authorizationServiceListAuthorizationsRequest)
    {
        $apiResult = $this->listAuthorizationsWithHttpInfo($authorizationServiceListAuthorizationsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAuthorizations but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\AuthorizationServiceListAuthorizationsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\AuthorizationServiceListAuthorizationsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthorizationsWithHttpInfo(\Zitadel\Client\Models\AuthorizationServiceListAuthorizationsRequest $authorizationServiceListAuthorizationsRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2.AuthorizationService/ListAuthorizations';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $authorizationServiceListAuthorizationsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\AuthorizationServiceListAuthorizationsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\AuthorizationServiceListAuthorizationsResponse::class
        );
        return $result;
    }

    /**
     * Update Authorization
     * UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAuthorization(\Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationRequest $authorizationServiceUpdateAuthorizationRequest)
    {
        $apiResult = $this->updateAuthorizationWithHttpInfo($authorizationServiceUpdateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAuthorizationWithHttpInfo(\Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationRequest $authorizationServiceUpdateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2.AuthorizationService/UpdateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $authorizationServiceUpdateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\AuthorizationServiceUpdateAuthorizationResponse::class
        );
        return $result;
    }
}
