<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaOIDCServiceApi provides methods for the BetaOIDCService API group.
 */

class BetaOIDCServiceApi extends BaseApi
{
    /**
     * Create Callback
     * Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.

     * @return \Zitadel\Client\Models\BetaOIDCServiceCreateCallbackResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createCallback(\Zitadel\Client\Models\BetaOIDCServiceCreateCallbackRequest $betaOIDCServiceCreateCallbackRequest)
    {
        $apiResult = $this->createCallbackWithHttpInfo($betaOIDCServiceCreateCallbackRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createCallback but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOIDCServiceCreateCallbackResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOIDCServiceCreateCallbackResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createCallbackWithHttpInfo(\Zitadel\Client\Models\BetaOIDCServiceCreateCallbackRequest $betaOIDCServiceCreateCallbackRequest): ApiResult
    {
        $path = '/zitadel.oidc.v2beta.OIDCService/CreateCallback';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOIDCServiceCreateCallbackRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOIDCServiceCreateCallbackResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOIDCServiceCreateCallbackResponse::class
        );
        return $result;
    }

    /**
     * Get AuthRequest
     * Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns details that are parsed from the application's Auth Request.

     * @return \Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getAuthRequest(\Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestRequest $betaOIDCServiceGetAuthRequestRequest)
    {
        $apiResult = $this->getAuthRequestWithHttpInfo($betaOIDCServiceGetAuthRequestRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getAuthRequest but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getAuthRequestWithHttpInfo(\Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestRequest $betaOIDCServiceGetAuthRequestRequest): ApiResult
    {
        $path = '/zitadel.oidc.v2beta.OIDCService/GetAuthRequest';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOIDCServiceGetAuthRequestRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOIDCServiceGetAuthRequestResponse::class
        );
        return $result;
    }
}
