<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaAuthorizationServiceApi provides methods for the BetaAuthorizationService API group.
 */

class BetaAuthorizationServiceApi extends BaseApi
{
    /**
     * Activate Authorization
     * Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateAuthorization(\Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationRequest $betaAuthorizationServiceActivateAuthorizationRequest)
    {
        $apiResult = $this->activateAuthorizationWithHttpInfo($betaAuthorizationServiceActivateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateAuthorizationWithHttpInfo(\Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationRequest $betaAuthorizationServiceActivateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2beta.AuthorizationService/ActivateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAuthorizationServiceActivateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAuthorizationServiceActivateAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * Create Authorization
     * Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createAuthorization(\Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationRequest $betaAuthorizationServiceCreateAuthorizationRequest)
    {
        $apiResult = $this->createAuthorizationWithHttpInfo($betaAuthorizationServiceCreateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createAuthorizationWithHttpInfo(\Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationRequest $betaAuthorizationServiceCreateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2beta.AuthorizationService/CreateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAuthorizationServiceCreateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAuthorizationServiceCreateAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Authorization
     * Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateAuthorization(\Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationRequest $betaAuthorizationServiceDeactivateAuthorizationRequest)
    {
        $apiResult = $this->deactivateAuthorizationWithHttpInfo($betaAuthorizationServiceDeactivateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateAuthorizationWithHttpInfo(\Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationRequest $betaAuthorizationServiceDeactivateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2beta.AuthorizationService/DeactivateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAuthorizationServiceDeactivateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAuthorizationServiceDeactivateAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * Delete Authorization
     * Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"

     * @return \Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAuthorization(\Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationRequest $betaAuthorizationServiceDeleteAuthorizationRequest)
    {
        $apiResult = $this->deleteAuthorizationWithHttpInfo($betaAuthorizationServiceDeleteAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAuthorizationWithHttpInfo(\Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationRequest $betaAuthorizationServiceDeleteAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2beta.AuthorizationService/DeleteAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAuthorizationServiceDeleteAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAuthorizationServiceDeleteAuthorizationResponse::class
        );
        return $result;
    }

    /**
     * List Authorizations
     * Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations

     * @return \Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthorizations(\Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsRequest $betaAuthorizationServiceListAuthorizationsRequest)
    {
        $apiResult = $this->listAuthorizationsWithHttpInfo($betaAuthorizationServiceListAuthorizationsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAuthorizations but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthorizationsWithHttpInfo(\Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsRequest $betaAuthorizationServiceListAuthorizationsRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2beta.AuthorizationService/ListAuthorizations';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAuthorizationServiceListAuthorizationsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAuthorizationServiceListAuthorizationsResponse::class
        );
        return $result;
    }

    /**
     * Update Authorization
     * Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"

     * @return \Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAuthorization(\Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationRequest $betaAuthorizationServiceUpdateAuthorizationRequest)
    {
        $apiResult = $this->updateAuthorizationWithHttpInfo($betaAuthorizationServiceUpdateAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateAuthorization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAuthorizationWithHttpInfo(\Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationRequest $betaAuthorizationServiceUpdateAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.authorization.v2beta.AuthorizationService/UpdateAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAuthorizationServiceUpdateAuthorizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAuthorizationServiceUpdateAuthorizationResponse::class
        );
        return $result;
    }
}
