<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaAppServiceApi provides methods for the BetaAppService API group.
 */

class BetaAppServiceApi extends BaseApi
{
    /**
     * Create Application
     * Deprecated: use [application service v2 CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx) instead.   Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\BetaAppServiceCreateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplication(\Zitadel\Client\Models\BetaAppServiceCreateApplicationRequest $betaAppServiceCreateApplicationRequest)
    {
        $apiResult = $this->createApplicationWithHttpInfo($betaAppServiceCreateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceCreateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceCreateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplicationWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceCreateApplicationRequest $betaAppServiceCreateApplicationRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/CreateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceCreateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceCreateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceCreateApplicationResponse::class
        );
        return $result;
    }

    /**
     * Create Application Key
     * Deprecated: use [application service v2 CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx) instead.   Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`

     * @return \Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplicationKey(\Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyRequest $betaAppServiceCreateApplicationKeyRequest)
    {
        $apiResult = $this->createApplicationKeyWithHttpInfo($betaAppServiceCreateApplicationKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createApplicationKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createApplicationKeyWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyRequest $betaAppServiceCreateApplicationKeyRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/CreateApplicationKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceCreateApplicationKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceCreateApplicationKeyResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Application
     * Deprecated: use [application service v2 DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx) instead.   Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\BetaAppServiceDeactivateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateApplication(\Zitadel\Client\Models\BetaAppServiceDeactivateApplicationRequest $betaAppServiceDeactivateApplicationRequest)
    {
        $apiResult = $this->deactivateApplicationWithHttpInfo($betaAppServiceDeactivateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceDeactivateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceDeactivateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateApplicationWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceDeactivateApplicationRequest $betaAppServiceDeactivateApplicationRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/DeactivateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceDeactivateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceDeactivateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceDeactivateApplicationResponse::class
        );
        return $result;
    }

    /**
     * Delete Application
     * Deprecated: use [application service v2 DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx) instead.   Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete

     * @return \Zitadel\Client\Models\BetaAppServiceDeleteApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplication(\Zitadel\Client\Models\BetaAppServiceDeleteApplicationRequest $betaAppServiceDeleteApplicationRequest)
    {
        $apiResult = $this->deleteApplicationWithHttpInfo($betaAppServiceDeleteApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceDeleteApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceDeleteApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplicationWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceDeleteApplicationRequest $betaAppServiceDeleteApplicationRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/DeleteApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceDeleteApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceDeleteApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceDeleteApplicationResponse::class
        );
        return $result;
    }

    /**
     * Delete Application Key
     * Deprecated: use [application service v2 DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx) instead.   Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`

     * @return \Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplicationKey(\Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyRequest $betaAppServiceDeleteApplicationKeyRequest)
    {
        $apiResult = $this->deleteApplicationKeyWithHttpInfo($betaAppServiceDeleteApplicationKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteApplicationKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteApplicationKeyWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyRequest $betaAppServiceDeleteApplicationKeyRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/DeleteApplicationKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceDeleteApplicationKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceDeleteApplicationKeyResponse::class
        );
        return $result;
    }

    /**
     * Get Application
     * Deprecated: use [application service v2 GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx) instead.   Retrieves the application matching the provided ID.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\BetaAppServiceGetApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplication(\Zitadel\Client\Models\BetaAppServiceGetApplicationRequest $betaAppServiceGetApplicationRequest)
    {
        $apiResult = $this->getApplicationWithHttpInfo($betaAppServiceGetApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceGetApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceGetApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplicationWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceGetApplicationRequest $betaAppServiceGetApplicationRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/GetApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceGetApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceGetApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceGetApplicationResponse::class
        );
        return $result;
    }

    /**
     * Get Application Key
     * Deprecated: use [application service v2 GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx) instead.   Retrieves the application key matching the provided ID.   Specifying a project, organization and app ID is optional but help with filtering/performance.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\BetaAppServiceGetApplicationKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplicationKey(\Zitadel\Client\Models\BetaAppServiceGetApplicationKeyRequest $betaAppServiceGetApplicationKeyRequest)
    {
        $apiResult = $this->getApplicationKeyWithHttpInfo($betaAppServiceGetApplicationKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getApplicationKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceGetApplicationKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceGetApplicationKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getApplicationKeyWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceGetApplicationKeyRequest $betaAppServiceGetApplicationKeyRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/GetApplicationKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceGetApplicationKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceGetApplicationKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceGetApplicationKeyResponse::class
        );
        return $result;
    }

    /**
     * List Application Keys
     * Deprecated: use [application service v2 ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx) instead.   Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by app, project or organization ID.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\BetaAppServiceListApplicationKeysResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplicationKeys(\Zitadel\Client\Models\BetaAppServiceListApplicationKeysRequest $betaAppServiceListApplicationKeysRequest)
    {
        $apiResult = $this->listApplicationKeysWithHttpInfo($betaAppServiceListApplicationKeysRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listApplicationKeys but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceListApplicationKeysResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceListApplicationKeysResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplicationKeysWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceListApplicationKeysRequest $betaAppServiceListApplicationKeysRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/ListApplicationKeys';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceListApplicationKeysRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceListApplicationKeysResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceListApplicationKeysResponse::class
        );
        return $result;
    }

    /**
     * List Applications
     * Deprecated: use [application service v2 ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx) instead.   Returns a list of applications matching the input parameters that belong to the provided  project.   The result can be sorted by app id, name, creation date, change date or state. It can also  be filtered by app state, app type and app name.   Required permissions:    - project.app.read

     * @return \Zitadel\Client\Models\BetaAppServiceListApplicationsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplications(\Zitadel\Client\Models\BetaAppServiceListApplicationsRequest $betaAppServiceListApplicationsRequest)
    {
        $apiResult = $this->listApplicationsWithHttpInfo($betaAppServiceListApplicationsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listApplications but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceListApplicationsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceListApplicationsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listApplicationsWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceListApplicationsRequest $betaAppServiceListApplicationsRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/ListApplications';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceListApplicationsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceListApplicationsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceListApplicationsResponse::class
        );
        return $result;
    }

    /**
     * Reactivate Application
     * Deprecated: use [application service v2 ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx) instead.   Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\BetaAppServiceReactivateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateApplication(\Zitadel\Client\Models\BetaAppServiceReactivateApplicationRequest $betaAppServiceReactivateApplicationRequest)
    {
        $apiResult = $this->reactivateApplicationWithHttpInfo($betaAppServiceReactivateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for reactivateApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceReactivateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceReactivateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateApplicationWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceReactivateApplicationRequest $betaAppServiceReactivateApplicationRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/ReactivateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceReactivateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceReactivateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceReactivateApplicationResponse::class
        );
        return $result;
    }

    /**
     * Regenerate Client Secret
     * Deprecated: use [application service v2 GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx) instead.   Regenerates the client secret of an API or OIDC application that belongs to the input project.    Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function regenerateClientSecret(\Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretRequest $betaAppServiceRegenerateClientSecretRequest)
    {
        $apiResult = $this->regenerateClientSecretWithHttpInfo($betaAppServiceRegenerateClientSecretRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for regenerateClientSecret but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function regenerateClientSecretWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretRequest $betaAppServiceRegenerateClientSecretRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/RegenerateClientSecret';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceRegenerateClientSecretRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceRegenerateClientSecretResponse::class
        );
        return $result;
    }

    /**
     * Update Application
     * Deprecated: use [application service v2 UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx) instead.   Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write

     * @return \Zitadel\Client\Models\BetaAppServiceUpdateApplicationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateApplication(\Zitadel\Client\Models\BetaAppServiceUpdateApplicationRequest $betaAppServiceUpdateApplicationRequest)
    {
        $apiResult = $this->updateApplicationWithHttpInfo($betaAppServiceUpdateApplicationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateApplication but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaAppServiceUpdateApplicationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaAppServiceUpdateApplicationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateApplicationWithHttpInfo(\Zitadel\Client\Models\BetaAppServiceUpdateApplicationRequest $betaAppServiceUpdateApplicationRequest): ApiResult
    {
        $path = '/zitadel.app.v2beta.AppService/UpdateApplication';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaAppServiceUpdateApplicationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaAppServiceUpdateApplicationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaAppServiceUpdateApplicationResponse::class
        );
        return $result;
    }
}
