<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaTelemetryServiceApi provides methods for the BetaTelemetryService API group.
 */

class BetaTelemetryServiceApi extends BaseApi
{
    /**
     * ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
     * ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.

     * @return \Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function reportBaseInformation(\Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationRequest $betaTelemetryServiceReportBaseInformationRequest)
    {
        $apiResult = $this->reportBaseInformationWithHttpInfo($betaTelemetryServiceReportBaseInformationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for reportBaseInformation but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function reportBaseInformationWithHttpInfo(\Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationRequest $betaTelemetryServiceReportBaseInformationRequest): ApiResult
    {
        $path = '/zitadel.analytics.v2beta.TelemetryService/ReportBaseInformation';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaTelemetryServiceReportBaseInformationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaTelemetryServiceReportBaseInformationResponse::class
        );
        return $result;
    }

    /**
     * ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
     * ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.

     * @return \Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function reportResourceCounts(\Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsRequest $betaTelemetryServiceReportResourceCountsRequest)
    {
        $apiResult = $this->reportResourceCountsWithHttpInfo($betaTelemetryServiceReportResourceCountsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for reportResourceCounts but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function reportResourceCountsWithHttpInfo(\Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsRequest $betaTelemetryServiceReportResourceCountsRequest): ApiResult
    {
        $path = '/zitadel.analytics.v2beta.TelemetryService/ReportResourceCounts';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaTelemetryServiceReportResourceCountsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaTelemetryServiceReportResourceCountsResponse::class
        );
        return $result;
    }
}
