<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaProjectServiceApi provides methods for the BetaProjectService API group.
 */

class BetaProjectServiceApi extends BaseApi
{
    /**
     * Activate Project
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceActivateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProject(\Zitadel\Client\Models\BetaProjectServiceActivateProjectRequest $betaProjectServiceActivateProjectRequest)
    {
        $apiResult = $this->activateProjectWithHttpInfo($betaProjectServiceActivateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceActivateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceActivateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProjectWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceActivateProjectRequest $betaProjectServiceActivateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/ActivateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceActivateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceActivateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceActivateProjectResponse::class
        );
        return $result;
    }

    /**
     * Activate Project Grant
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to activated.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProjectGrant(\Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantRequest $betaProjectServiceActivateProjectGrantRequest)
    {
        $apiResult = $this->activateProjectGrantWithHttpInfo($betaProjectServiceActivateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProjectGrantWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantRequest $betaProjectServiceActivateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/ActivateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceActivateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceActivateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Add Project Role
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceAddProjectRoleResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addProjectRole(\Zitadel\Client\Models\BetaProjectServiceAddProjectRoleRequest $betaProjectServiceAddProjectRoleRequest)
    {
        $apiResult = $this->addProjectRoleWithHttpInfo($betaProjectServiceAddProjectRoleRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addProjectRole but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceAddProjectRoleResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceAddProjectRoleResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addProjectRoleWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceAddProjectRoleRequest $betaProjectServiceAddProjectRoleRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/AddProjectRole';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceAddProjectRoleRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceAddProjectRoleResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceAddProjectRoleResponse::class
        );
        return $result;
    }

    /**
     * Create Project
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new Project.   Required permission:    - `project.create`

     * @return \Zitadel\Client\Models\BetaProjectServiceCreateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createProject(\Zitadel\Client\Models\BetaProjectServiceCreateProjectRequest $betaProjectServiceCreateProjectRequest)
    {
        $apiResult = $this->createProjectWithHttpInfo($betaProjectServiceCreateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceCreateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceCreateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createProjectWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceCreateProjectRequest $betaProjectServiceCreateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/CreateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceCreateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceCreateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceCreateProjectResponse::class
        );
        return $result;
    }

    /**
     * Create Project Grant
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.create`

     * @return \Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createProjectGrant(\Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantRequest $betaProjectServiceCreateProjectGrantRequest)
    {
        $apiResult = $this->createProjectGrantWithHttpInfo($betaProjectServiceCreateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createProjectGrantWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantRequest $betaProjectServiceCreateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/CreateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceCreateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceCreateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Project
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceDeactivateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProject(\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectRequest $betaProjectServiceDeactivateProjectRequest)
    {
        $apiResult = $this->deactivateProjectWithHttpInfo($betaProjectServiceDeactivateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceDeactivateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProjectWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectRequest $betaProjectServiceDeactivateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/DeactivateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceDeactivateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceDeactivateProjectResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Project Grant
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProjectGrant(\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantRequest $betaProjectServiceDeactivateProjectGrantRequest)
    {
        $apiResult = $this->deactivateProjectGrantWithHttpInfo($betaProjectServiceDeactivateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProjectGrantWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantRequest $betaProjectServiceDeactivateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/DeactivateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceDeactivateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceDeactivateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Delete Project
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`

     * @return \Zitadel\Client\Models\BetaProjectServiceDeleteProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProject(\Zitadel\Client\Models\BetaProjectServiceDeleteProjectRequest $betaProjectServiceDeleteProjectRequest)
    {
        $apiResult = $this->deleteProjectWithHttpInfo($betaProjectServiceDeleteProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceDeleteProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeleteProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProjectWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceDeleteProjectRequest $betaProjectServiceDeleteProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/DeleteProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceDeleteProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeleteProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceDeleteProjectResponse::class
        );
        return $result;
    }

    /**
     * Delete Project Grant
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`

     * @return \Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProjectGrant(\Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantRequest $betaProjectServiceDeleteProjectGrantRequest)
    {
        $apiResult = $this->deleteProjectGrantWithHttpInfo($betaProjectServiceDeleteProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProjectGrantWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantRequest $betaProjectServiceDeleteProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/DeleteProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceDeleteProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceDeleteProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Get Project
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the project identified by the requested ID.   Required permission:    - `project.read`

     * @return \Zitadel\Client\Models\BetaProjectServiceGetProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getProject(\Zitadel\Client\Models\BetaProjectServiceGetProjectRequest $betaProjectServiceGetProjectRequest)
    {
        $apiResult = $this->getProjectWithHttpInfo($betaProjectServiceGetProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceGetProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceGetProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getProjectWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceGetProjectRequest $betaProjectServiceGetProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/GetProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceGetProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceGetProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceGetProjectResponse::class
        );
        return $result;
    }

    /**
     * List Project Grants
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of project grants. A project grant is when the organization grants its project to another organization.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceListProjectGrantsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectGrants(\Zitadel\Client\Models\BetaProjectServiceListProjectGrantsRequest $betaProjectServiceListProjectGrantsRequest)
    {
        $apiResult = $this->listProjectGrantsWithHttpInfo($betaProjectServiceListProjectGrantsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listProjectGrants but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceListProjectGrantsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceListProjectGrantsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectGrantsWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceListProjectGrantsRequest $betaProjectServiceListProjectGrantsRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/ListProjectGrants';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceListProjectGrantsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceListProjectGrantsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceListProjectGrantsResponse::class
        );
        return $result;
    }

    /**
     * List Project Roles
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`

     * @return \Zitadel\Client\Models\BetaProjectServiceListProjectRolesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectRoles(\Zitadel\Client\Models\BetaProjectServiceListProjectRolesRequest $betaProjectServiceListProjectRolesRequest)
    {
        $apiResult = $this->listProjectRolesWithHttpInfo($betaProjectServiceListProjectRolesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listProjectRoles but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceListProjectRolesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceListProjectRolesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectRolesWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceListProjectRolesRequest $betaProjectServiceListProjectRolesRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/ListProjectRoles';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceListProjectRolesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceListProjectRolesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceListProjectRolesResponse::class
        );
        return $result;
    }

    /**
     * List Projects
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching projects. By default all projects of the instance that the caller has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`

     * @return \Zitadel\Client\Models\BetaProjectServiceListProjectsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjects(\Zitadel\Client\Models\BetaProjectServiceListProjectsRequest $betaProjectServiceListProjectsRequest)
    {
        $apiResult = $this->listProjectsWithHttpInfo($betaProjectServiceListProjectsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listProjects but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceListProjectsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceListProjectsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectsWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceListProjectsRequest $betaProjectServiceListProjectsRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/ListProjects';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceListProjectsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceListProjectsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceListProjectsResponse::class
        );
        return $result;
    }

    /**
     * Remove Project Role
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes the role from the project and on every resource it has a dependency. This includes project grants and user grants.   Required permission:    - `project.role.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeProjectRole(\Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleRequest $betaProjectServiceRemoveProjectRoleRequest)
    {
        $apiResult = $this->removeProjectRoleWithHttpInfo($betaProjectServiceRemoveProjectRoleRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeProjectRole but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeProjectRoleWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleRequest $betaProjectServiceRemoveProjectRoleRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/RemoveProjectRole';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceRemoveProjectRoleRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceRemoveProjectRoleResponse::class
        );
        return $result;
    }

    /**
     * Update Project
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing project.   Required permission:    - `project.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceUpdateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProject(\Zitadel\Client\Models\BetaProjectServiceUpdateProjectRequest $betaProjectServiceUpdateProjectRequest)
    {
        $apiResult = $this->updateProjectWithHttpInfo($betaProjectServiceUpdateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceUpdateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceUpdateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceUpdateProjectRequest $betaProjectServiceUpdateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/UpdateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceUpdateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceUpdateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceUpdateProjectResponse::class
        );
        return $result;
    }

    /**
     * Update Project Grant
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectGrant(\Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantRequest $betaProjectServiceUpdateProjectGrantRequest)
    {
        $apiResult = $this->updateProjectGrantWithHttpInfo($betaProjectServiceUpdateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectGrantWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantRequest $betaProjectServiceUpdateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/UpdateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceUpdateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceUpdateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Update Project Role
     * Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`

     * @return \Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectRole(\Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleRequest $betaProjectServiceUpdateProjectRoleRequest)
    {
        $apiResult = $this->updateProjectRoleWithHttpInfo($betaProjectServiceUpdateProjectRoleRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateProjectRole but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectRoleWithHttpInfo(\Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleRequest $betaProjectServiceUpdateProjectRoleRequest): ApiResult
    {
        $path = '/zitadel.project.v2beta.ProjectService/UpdateProjectRole';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaProjectServiceUpdateProjectRoleRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaProjectServiceUpdateProjectRoleResponse::class
        );
        return $result;
    }
}
