<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaWebKeyServiceApi provides methods for the BetaWebKeyService API group.
 */

class BetaWebKeyServiceApi extends BaseApi
{
    /**
     * Activate Web Key
     * Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`

     * @return \Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateWebKey(\Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyRequest $betaWebKeyServiceActivateWebKeyRequest)
    {
        $apiResult = $this->activateWebKeyWithHttpInfo($betaWebKeyServiceActivateWebKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateWebKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateWebKeyWithHttpInfo(\Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyRequest $betaWebKeyServiceActivateWebKeyRequest): ApiResult
    {
        $path = '/zitadel.webkey.v2beta.WebKeyService/ActivateWebKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaWebKeyServiceActivateWebKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaWebKeyServiceActivateWebKeyResponse::class
        );
        return $result;
    }

    /**
     * Create Web Key
     * Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`

     * @return \Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createWebKey(\Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyRequest $betaWebKeyServiceCreateWebKeyRequest)
    {
        $apiResult = $this->createWebKeyWithHttpInfo($betaWebKeyServiceCreateWebKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createWebKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createWebKeyWithHttpInfo(\Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyRequest $betaWebKeyServiceCreateWebKeyRequest): ApiResult
    {
        $path = '/zitadel.webkey.v2beta.WebKeyService/CreateWebKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaWebKeyServiceCreateWebKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaWebKeyServiceCreateWebKeyResponse::class
        );
        return $result;
    }

    /**
     * Delete Web Key
     * Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`

     * @return \Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteWebKey(\Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyRequest $betaWebKeyServiceDeleteWebKeyRequest)
    {
        $apiResult = $this->deleteWebKeyWithHttpInfo($betaWebKeyServiceDeleteWebKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteWebKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteWebKeyWithHttpInfo(\Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyRequest $betaWebKeyServiceDeleteWebKeyRequest): ApiResult
    {
        $path = '/zitadel.webkey.v2beta.WebKeyService/DeleteWebKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaWebKeyServiceDeleteWebKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaWebKeyServiceDeleteWebKeyResponse::class
        );
        return $result;
    }

    /**
     * List Web Keys
     * Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   List all web keys and their states.   Required permission:    - `iam.web_key.read`

     * @return \Zitadel\Client\Models\BetaWebKeyServiceListWebKeysResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listWebKeys(object $body)
    {
        $apiResult = $this->listWebKeysWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listWebKeys but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaWebKeyServiceListWebKeysResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceListWebKeysResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listWebKeysWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.webkey.v2beta.WebKeyService/ListWebKeys';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\BetaWebKeyServiceListWebKeysResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaWebKeyServiceListWebKeysResponse::class
        );
        return $result;
    }
}
