<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaActionServiceApi provides methods for the BetaActionService API group.
 */

class BetaActionServiceApi extends BaseApi
{
    /**
     * Create Target
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\BetaActionServiceCreateTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createTarget(\Zitadel\Client\Models\BetaActionServiceCreateTargetRequest $betaActionServiceCreateTargetRequest)
    {
        $apiResult = $this->createTargetWithHttpInfo($betaActionServiceCreateTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceCreateTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceCreateTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createTargetWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceCreateTargetRequest $betaActionServiceCreateTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/CreateTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceCreateTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceCreateTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceCreateTargetResponse::class
        );
        return $result;
    }

    /**
     * Delete Target
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`

     * @return \Zitadel\Client\Models\BetaActionServiceDeleteTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteTarget(\Zitadel\Client\Models\BetaActionServiceDeleteTargetRequest $betaActionServiceDeleteTargetRequest)
    {
        $apiResult = $this->deleteTargetWithHttpInfo($betaActionServiceDeleteTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceDeleteTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceDeleteTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteTargetWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceDeleteTargetRequest $betaActionServiceDeleteTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/DeleteTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceDeleteTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceDeleteTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceDeleteTargetResponse::class
        );
        return $result;
    }

    /**
     * Get Target
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the target identified by the requested ID.   Required permission:    - `action.target.read`

     * @return \Zitadel\Client\Models\BetaActionServiceGetTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getTarget(\Zitadel\Client\Models\BetaActionServiceGetTargetRequest $betaActionServiceGetTargetRequest)
    {
        $apiResult = $this->getTargetWithHttpInfo($betaActionServiceGetTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceGetTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceGetTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getTargetWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceGetTargetRequest $betaActionServiceGetTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/GetTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceGetTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceGetTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceGetTargetResponse::class
        );
        return $result;
    }

    /**
     * List Execution Functions
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available functions which can be used as condition for executions.

     * @return \Zitadel\Client\Models\BetaActionServiceListExecutionFunctionsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionFunctions(object $body)
    {
        $apiResult = $this->listExecutionFunctionsWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutionFunctions but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceListExecutionFunctionsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionFunctionsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionFunctionsWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/ListExecutionFunctions';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionFunctionsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceListExecutionFunctionsResponse::class
        );
        return $result;
    }

    /**
     * List Execution Methods
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available methods which can be used as condition for executions.

     * @return \Zitadel\Client\Models\BetaActionServiceListExecutionMethodsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionMethods(object $body)
    {
        $apiResult = $this->listExecutionMethodsWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutionMethods but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceListExecutionMethodsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionMethodsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionMethodsWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/ListExecutionMethods';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionMethodsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceListExecutionMethodsResponse::class
        );
        return $result;
    }

    /**
     * List Execution Services
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available services which can be used as condition for executions.

     * @return \Zitadel\Client\Models\BetaActionServiceListExecutionServicesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionServices(object $body)
    {
        $apiResult = $this->listExecutionServicesWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutionServices but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceListExecutionServicesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionServicesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionServicesWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/ListExecutionServices';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionServicesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceListExecutionServicesResponse::class
        );
        return $result;
    }

    /**
     * List Executions
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`

     * @return \Zitadel\Client\Models\BetaActionServiceListExecutionsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutions(\Zitadel\Client\Models\BetaActionServiceListExecutionsRequest $betaActionServiceListExecutionsRequest)
    {
        $apiResult = $this->listExecutionsWithHttpInfo($betaActionServiceListExecutionsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listExecutions but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceListExecutionsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listExecutionsWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceListExecutionsRequest $betaActionServiceListExecutionsRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/ListExecutions';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceListExecutionsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceListExecutionsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceListExecutionsResponse::class
        );
        return $result;
    }

    /**
     * List targets
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`

     * @return \Zitadel\Client\Models\BetaActionServiceListTargetsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listTargets(\Zitadel\Client\Models\BetaActionServiceListTargetsRequest $betaActionServiceListTargetsRequest)
    {
        $apiResult = $this->listTargetsWithHttpInfo($betaActionServiceListTargetsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listTargets but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceListTargetsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceListTargetsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listTargetsWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceListTargetsRequest $betaActionServiceListTargetsRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/ListTargets';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceListTargetsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceListTargetsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceListTargetsResponse::class
        );
        return $result;
    }

    /**
     * Set Execution
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`

     * @return \Zitadel\Client\Models\BetaActionServiceSetExecutionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setExecution(\Zitadel\Client\Models\BetaActionServiceSetExecutionRequest $betaActionServiceSetExecutionRequest)
    {
        $apiResult = $this->setExecutionWithHttpInfo($betaActionServiceSetExecutionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setExecution but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceSetExecutionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceSetExecutionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setExecutionWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceSetExecutionRequest $betaActionServiceSetExecutionRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/SetExecution';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceSetExecutionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceSetExecutionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceSetExecutionResponse::class
        );
        return $result;
    }

    /**
     * Update Target
     * Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`

     * @return \Zitadel\Client\Models\BetaActionServiceUpdateTargetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateTarget(\Zitadel\Client\Models\BetaActionServiceUpdateTargetRequest $betaActionServiceUpdateTargetRequest)
    {
        $apiResult = $this->updateTargetWithHttpInfo($betaActionServiceUpdateTargetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateTarget but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaActionServiceUpdateTargetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaActionServiceUpdateTargetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateTargetWithHttpInfo(\Zitadel\Client\Models\BetaActionServiceUpdateTargetRequest $betaActionServiceUpdateTargetRequest): ApiResult
    {
        $path = '/zitadel.action.v2beta.ActionService/UpdateTarget';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaActionServiceUpdateTargetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaActionServiceUpdateTargetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaActionServiceUpdateTargetResponse::class
        );
        return $result;
    }
}
