<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaInternalPermissionServiceApi provides methods for the BetaInternalPermissionService API group.
 */

class BetaInternalPermissionServiceApi extends BaseApi
{
    /**
     * CreateAdministrator grants a administrator role to a user for a specific resource.
     * Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators

     * @return \Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createAdministrator(\Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorRequest $betaInternalPermissionServiceCreateAdministratorRequest)
    {
        $apiResult = $this->createAdministratorWithHttpInfo($betaInternalPermissionServiceCreateAdministratorRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createAdministrator but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createAdministratorWithHttpInfo(\Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorRequest $betaInternalPermissionServiceCreateAdministratorRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2beta.InternalPermissionService/CreateAdministrator';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInternalPermissionServiceCreateAdministratorRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInternalPermissionServiceCreateAdministratorResponse::class
        );
        return $result;
    }

    /**
     * DeleteAdministrator revokes a administrator role from a user.
     * Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators

     * @return \Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAdministrator(\Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorRequest $betaInternalPermissionServiceDeleteAdministratorRequest)
    {
        $apiResult = $this->deleteAdministratorWithHttpInfo($betaInternalPermissionServiceDeleteAdministratorRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteAdministrator but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAdministratorWithHttpInfo(\Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorRequest $betaInternalPermissionServiceDeleteAdministratorRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2beta.InternalPermissionService/DeleteAdministrator';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInternalPermissionServiceDeleteAdministratorRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInternalPermissionServiceDeleteAdministratorResponse::class
        );
        return $result;
    }

    /**
     * ListAdministrators returns all administrators and its roles matching the request and necessary permissions.
     * Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles

     * @return \Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAdministrators(\Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsRequest $betaInternalPermissionServiceListAdministratorsRequest)
    {
        $apiResult = $this->listAdministratorsWithHttpInfo($betaInternalPermissionServiceListAdministratorsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAdministrators but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAdministratorsWithHttpInfo(\Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsRequest $betaInternalPermissionServiceListAdministratorsRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2beta.InternalPermissionService/ListAdministrators';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInternalPermissionServiceListAdministratorsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInternalPermissionServiceListAdministratorsResponse::class
        );
        return $result;
    }

    /**
     * UpdateAdministrator updates the specific administrator role.
     * Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators

     * @return \Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAdministrator(\Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorRequest $betaInternalPermissionServiceUpdateAdministratorRequest)
    {
        $apiResult = $this->updateAdministratorWithHttpInfo($betaInternalPermissionServiceUpdateAdministratorRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateAdministrator but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAdministratorWithHttpInfo(\Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorRequest $betaInternalPermissionServiceUpdateAdministratorRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2beta.InternalPermissionService/UpdateAdministrator';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInternalPermissionServiceUpdateAdministratorRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInternalPermissionServiceUpdateAdministratorResponse::class
        );
        return $result;
    }
}
