<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaOrganizationServiceApi provides methods for the BetaOrganizationService API group.
 */

class BetaOrganizationServiceApi extends BaseApi
{
    /**
     * Activate Organization
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateOrganization(\Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationRequest $betaOrganizationServiceActivateOrganizationRequest)
    {
        $apiResult = $this->activateOrganizationWithHttpInfo($betaOrganizationServiceActivateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateOrganizationWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationRequest $betaOrganizationServiceActivateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/ActivateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceActivateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceActivateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Add Organization Domain
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOrganizationDomain(\Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainRequest $betaOrganizationServiceAddOrganizationDomainRequest)
    {
        $apiResult = $this->addOrganizationDomainWithHttpInfo($betaOrganizationServiceAddOrganizationDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOrganizationDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOrganizationDomainWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainRequest $betaOrganizationServiceAddOrganizationDomainRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/AddOrganizationDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceAddOrganizationDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceAddOrganizationDomainResponse::class
        );
        return $result;
    }

    /**
     * Create Organization
     * Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`   Deprecated: Use [AddOrganization](/apis/resources/org_service_v2/organization-service-add-organization.api.mdx) instead to create an organization.

     * @return \Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createOrganization(\Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationRequest $betaOrganizationServiceCreateOrganizationRequest)
    {
        $apiResult = $this->createOrganizationWithHttpInfo($betaOrganizationServiceCreateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createOrganizationWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationRequest $betaOrganizationServiceCreateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/CreateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceCreateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceCreateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Organization
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateOrganization(\Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationRequest $betaOrganizationServiceDeactivateOrganizationRequest)
    {
        $apiResult = $this->deactivateOrganizationWithHttpInfo($betaOrganizationServiceDeactivateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateOrganizationWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationRequest $betaOrganizationServiceDeactivateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/DeactivateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceDeactivateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceDeactivateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Delete Organization
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganization(\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationRequest $betaOrganizationServiceDeleteOrganizationRequest)
    {
        $apiResult = $this->deleteOrganizationWithHttpInfo($betaOrganizationServiceDeleteOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationRequest $betaOrganizationServiceDeleteOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/DeleteOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceDeleteOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Delete Organization Domain
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationDomain(\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainRequest $betaOrganizationServiceDeleteOrganizationDomainRequest)
    {
        $apiResult = $this->deleteOrganizationDomainWithHttpInfo($betaOrganizationServiceDeleteOrganizationDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteOrganizationDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationDomainWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainRequest $betaOrganizationServiceDeleteOrganizationDomainRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/DeleteOrganizationDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceDeleteOrganizationDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationDomainResponse::class
        );
        return $result;
    }

    /**
     * Delete Organization Metadata
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationMetadata(\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataRequest $betaOrganizationServiceDeleteOrganizationMetadataRequest)
    {
        $apiResult = $this->deleteOrganizationMetadataWithHttpInfo($betaOrganizationServiceDeleteOrganizationMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteOrganizationMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationMetadataWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataRequest $betaOrganizationServiceDeleteOrganizationMetadataRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/DeleteOrganizationMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceDeleteOrganizationMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceDeleteOrganizationMetadataResponse::class
        );
        return $result;
    }

    /**
     * Generate Organization Domain Validation
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function generateOrganizationDomainValidation(\Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationRequest $betaOrganizationServiceGenerateOrganizationDomainValidationRequest)
    {
        $apiResult = $this->generateOrganizationDomainValidationWithHttpInfo($betaOrganizationServiceGenerateOrganizationDomainValidationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for generateOrganizationDomainValidation but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function generateOrganizationDomainValidationWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationRequest $betaOrganizationServiceGenerateOrganizationDomainValidationRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/GenerateOrganizationDomainValidation';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceGenerateOrganizationDomainValidationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceGenerateOrganizationDomainValidationResponse::class
        );
        return $result;
    }

    /**
     * List Organization Domains
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.    Required permission:   - `org.read`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationDomains(\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsRequest $betaOrganizationServiceListOrganizationDomainsRequest)
    {
        $apiResult = $this->listOrganizationDomainsWithHttpInfo($betaOrganizationServiceListOrganizationDomainsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listOrganizationDomains but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationDomainsWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsRequest $betaOrganizationServiceListOrganizationDomainsRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/ListOrganizationDomains';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceListOrganizationDomainsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationDomainsResponse::class
        );
        return $result;
    }

    /**
     * List Organization Metadata
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   List metadata of an organization filtered by query.   Required permission:   - `org.read`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationMetadata(\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataRequest $betaOrganizationServiceListOrganizationMetadataRequest)
    {
        $apiResult = $this->listOrganizationMetadataWithHttpInfo($betaOrganizationServiceListOrganizationMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listOrganizationMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationMetadataWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataRequest $betaOrganizationServiceListOrganizationMetadataRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/ListOrganizationMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceListOrganizationMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationMetadataResponse::class
        );
        return $result;
    }

    /**
     * List Organizations
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of organizations that match the requesting filters. All filters are applied with an AND condition.   Required permission:   - `org.read`   Deprecated: Use [ListOrganizations](/apis/resources/org_service_v2/organization-service-list-organizations.api.mdx) instead to list organizations.

     * @return \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizations(\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsRequest $betaOrganizationServiceListOrganizationsRequest)
    {
        $apiResult = $this->listOrganizationsWithHttpInfo($betaOrganizationServiceListOrganizationsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listOrganizations but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationsWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsRequest $betaOrganizationServiceListOrganizationsRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/ListOrganizations';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceListOrganizationsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceListOrganizationsResponse::class
        );
        return $result;
    }

    /**
     * Set Organization Metadata
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setOrganizationMetadata(\Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataRequest $betaOrganizationServiceSetOrganizationMetadataRequest)
    {
        $apiResult = $this->setOrganizationMetadataWithHttpInfo($betaOrganizationServiceSetOrganizationMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setOrganizationMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setOrganizationMetadataWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataRequest $betaOrganizationServiceSetOrganizationMetadataRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/SetOrganizationMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceSetOrganizationMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceSetOrganizationMetadataResponse::class
        );
        return $result;
    }

    /**
     * Update Organization
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the name of the organization.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateOrganization(\Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationRequest $betaOrganizationServiceUpdateOrganizationRequest)
    {
        $apiResult = $this->updateOrganizationWithHttpInfo($betaOrganizationServiceUpdateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateOrganizationWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationRequest $betaOrganizationServiceUpdateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/UpdateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceUpdateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceUpdateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Verify Organization Domain
     * Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyOrganizationDomain(\Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainRequest $betaOrganizationServiceVerifyOrganizationDomainRequest)
    {
        $apiResult = $this->verifyOrganizationDomainWithHttpInfo($betaOrganizationServiceVerifyOrganizationDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyOrganizationDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyOrganizationDomainWithHttpInfo(\Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainRequest $betaOrganizationServiceVerifyOrganizationDomainRequest): ApiResult
    {
        $path = '/zitadel.org.v2beta.OrganizationService/VerifyOrganizationDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaOrganizationServiceVerifyOrganizationDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaOrganizationServiceVerifyOrganizationDomainResponse::class
        );
        return $result;
    }
}
