<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaUserServiceApi provides methods for the BetaUserService API group.
 */

class BetaUserServiceApi extends BaseApi
{
    /**
     * Create a new human user
     * Create/import a new user with the type human. The newly created user will get a verification email if either the email address is not marked as verified and you did not request the verification to be returned.   Deprecated: please move to the corresponding endpoint under user service v2 (GA)

     * @return \Zitadel\Client\Models\BetaUserServiceAddHumanUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addHumanUser(\Zitadel\Client\Models\BetaUserServiceAddHumanUserRequest $betaUserServiceAddHumanUserRequest)
    {
        $apiResult = $this->addHumanUserWithHttpInfo($betaUserServiceAddHumanUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addHumanUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceAddHumanUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceAddHumanUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addHumanUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceAddHumanUserRequest $betaUserServiceAddHumanUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/AddHumanUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceAddHumanUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceAddHumanUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceAddHumanUserResponse::class
        );
        return $result;
    }

    /**
     * Add link to an identity provider to an user
     * Add link to an identity provider to an user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceAddIDPLinkResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addIDPLink(\Zitadel\Client\Models\BetaUserServiceAddIDPLinkRequest $betaUserServiceAddIDPLinkRequest)
    {
        $apiResult = $this->addIDPLinkWithHttpInfo($betaUserServiceAddIDPLinkRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addIDPLink but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceAddIDPLinkResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceAddIDPLinkResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addIDPLinkWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceAddIDPLinkRequest $betaUserServiceAddIDPLinkRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/AddIDPLink';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceAddIDPLinkRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceAddIDPLinkResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceAddIDPLinkResponse::class
        );
        return $result;
    }

    /**
     * Add OTP Email for a user
     * Add a new One-Time Password (OTP) Email factor to the authenticated user. OTP Email will enable the user to verify a OTP with the latest verified email. The email has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceAddOTPEmailResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPEmail(\Zitadel\Client\Models\BetaUserServiceAddOTPEmailRequest $betaUserServiceAddOTPEmailRequest)
    {
        $apiResult = $this->addOTPEmailWithHttpInfo($betaUserServiceAddOTPEmailRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOTPEmail but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceAddOTPEmailResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceAddOTPEmailResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPEmailWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceAddOTPEmailRequest $betaUserServiceAddOTPEmailRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/AddOTPEmail';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceAddOTPEmailRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceAddOTPEmailResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceAddOTPEmailResponse::class
        );
        return $result;
    }

    /**
     * Add OTP SMS for a user
     * Add a new One-Time Password (OTP) SMS factor to the authenticated user. OTP SMS will enable the user to verify a OTP with the latest verified phone number. The phone number has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceAddOTPSMSResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPSMS(\Zitadel\Client\Models\BetaUserServiceAddOTPSMSRequest $betaUserServiceAddOTPSMSRequest)
    {
        $apiResult = $this->addOTPSMSWithHttpInfo($betaUserServiceAddOTPSMSRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOTPSMS but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceAddOTPSMSResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceAddOTPSMSResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPSMSWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceAddOTPSMSRequest $betaUserServiceAddOTPSMSRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/AddOTPSMS';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceAddOTPSMSRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceAddOTPSMSResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceAddOTPSMSResponse::class
        );
        return $result;
    }

    /**
     * Create a passkey registration link for a user
     * Create a passkey registration link which includes a code and either return it or send it to the user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createPasskeyRegistrationLink(\Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkRequest $betaUserServiceCreatePasskeyRegistrationLinkRequest)
    {
        $apiResult = $this->createPasskeyRegistrationLinkWithHttpInfo($betaUserServiceCreatePasskeyRegistrationLinkRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createPasskeyRegistrationLink but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createPasskeyRegistrationLinkWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkRequest $betaUserServiceCreatePasskeyRegistrationLinkRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/CreatePasskeyRegistrationLink';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceCreatePasskeyRegistrationLinkRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceCreatePasskeyRegistrationLinkResponse::class
        );
        return $result;
    }

    /**
     * Deactivate user
     * The state of the user will be changed to 'deactivated'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'deactivated'. Use deactivate user when the user should not be able to use the account anymore, but you still need access to the user data.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceDeactivateUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateUser(\Zitadel\Client\Models\BetaUserServiceDeactivateUserRequest $betaUserServiceDeactivateUserRequest)
    {
        $apiResult = $this->deactivateUserWithHttpInfo($betaUserServiceDeactivateUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceDeactivateUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceDeactivateUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceDeactivateUserRequest $betaUserServiceDeactivateUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/DeactivateUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceDeactivateUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceDeactivateUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceDeactivateUserResponse::class
        );
        return $result;
    }

    /**
     * Delete user
     * The state of the user will be changed to 'deleted'. The user will not be able to log in anymore. Endpoints requesting this user will return an error 'User not found.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceDeleteUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteUser(\Zitadel\Client\Models\BetaUserServiceDeleteUserRequest $betaUserServiceDeleteUserRequest)
    {
        $apiResult = $this->deleteUserWithHttpInfo($betaUserServiceDeleteUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceDeleteUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceDeleteUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceDeleteUserRequest $betaUserServiceDeleteUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/DeleteUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceDeleteUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceDeleteUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceDeleteUserResponse::class
        );
        return $result;
    }

    /**
     * User by ID
     * Returns the full user object (human or machine) including the profile, email, etc.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceGetUserByIDResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getUserByID(\Zitadel\Client\Models\BetaUserServiceGetUserByIDRequest $betaUserServiceGetUserByIDRequest)
    {
        $apiResult = $this->getUserByIDWithHttpInfo($betaUserServiceGetUserByIDRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getUserByID but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceGetUserByIDResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceGetUserByIDResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getUserByIDWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceGetUserByIDRequest $betaUserServiceGetUserByIDRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/GetUserByID';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceGetUserByIDRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceGetUserByIDResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceGetUserByIDResponse::class
        );
        return $result;
    }

    /**
     * List all possible authentication methods of a user
     * List all possible authentication methods of a user like password, passwordless, (T)OTP and more.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthenticationMethodTypes(\Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesRequest $betaUserServiceListAuthenticationMethodTypesRequest)
    {
        $apiResult = $this->listAuthenticationMethodTypesWithHttpInfo($betaUserServiceListAuthenticationMethodTypesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAuthenticationMethodTypes but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthenticationMethodTypesWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesRequest $betaUserServiceListAuthenticationMethodTypesRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/ListAuthenticationMethodTypes';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceListAuthenticationMethodTypesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceListAuthenticationMethodTypesResponse::class
        );
        return $result;
    }

    /**
     * Search Users
     * Search for users. By default, we will return all users of your instance that you have permission to read. Make sure to include a limit and sorting for pagination.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceListUsersResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listUsers(\Zitadel\Client\Models\BetaUserServiceListUsersRequest $betaUserServiceListUsersRequest)
    {
        $apiResult = $this->listUsersWithHttpInfo($betaUserServiceListUsersRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listUsers but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceListUsersResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceListUsersResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listUsersWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceListUsersRequest $betaUserServiceListUsersRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/ListUsers';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceListUsersRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceListUsersResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceListUsersResponse::class
        );
        return $result;
    }

    /**
     * Lock user
     * The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceLockUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function lockUser(\Zitadel\Client\Models\BetaUserServiceLockUserRequest $betaUserServiceLockUserRequest)
    {
        $apiResult = $this->lockUserWithHttpInfo($betaUserServiceLockUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for lockUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceLockUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceLockUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function lockUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceLockUserRequest $betaUserServiceLockUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/LockUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceLockUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceLockUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceLockUserResponse::class
        );
        return $result;
    }

    /**
     * Request a code to reset a password
     * Request a code to reset a password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServicePasswordResetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function passwordReset(\Zitadel\Client\Models\BetaUserServicePasswordResetRequest $betaUserServicePasswordResetRequest)
    {
        $apiResult = $this->passwordResetWithHttpInfo($betaUserServicePasswordResetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for passwordReset but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServicePasswordResetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServicePasswordResetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function passwordResetWithHttpInfo(\Zitadel\Client\Models\BetaUserServicePasswordResetRequest $betaUserServicePasswordResetRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/PasswordReset';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServicePasswordResetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServicePasswordResetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServicePasswordResetResponse::class
        );
        return $result;
    }

    /**
     * Reactivate user
     * Reactivate a user with the state 'deactivated'. The user will be able to log in again afterward. The endpoint returns an error if the user is not in the state 'deactivated'.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceReactivateUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateUser(\Zitadel\Client\Models\BetaUserServiceReactivateUserRequest $betaUserServiceReactivateUserRequest)
    {
        $apiResult = $this->reactivateUserWithHttpInfo($betaUserServiceReactivateUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for reactivateUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceReactivateUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceReactivateUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceReactivateUserRequest $betaUserServiceReactivateUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/ReactivateUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceReactivateUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceReactivateUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceReactivateUserResponse::class
        );
        return $result;
    }

    /**
     * Start the registration of passkey for a user
     * Start the registration of a passkey for a user, as a response the public key credential creation options are returned, which are used to verify the passkey.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRegisterPasskeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function registerPasskey(\Zitadel\Client\Models\BetaUserServiceRegisterPasskeyRequest $betaUserServiceRegisterPasskeyRequest)
    {
        $apiResult = $this->registerPasskeyWithHttpInfo($betaUserServiceRegisterPasskeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for registerPasskey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRegisterPasskeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRegisterPasskeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function registerPasskeyWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRegisterPasskeyRequest $betaUserServiceRegisterPasskeyRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RegisterPasskey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRegisterPasskeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRegisterPasskeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRegisterPasskeyResponse::class
        );
        return $result;
    }

    /**
     * Start the registration of a TOTP generator for a user
     * Start the registration of a TOTP generator for a user, as a response a secret returned, which is used to initialize a TOTP app or device.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRegisterTOTPResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function registerTOTP(\Zitadel\Client\Models\BetaUserServiceRegisterTOTPRequest $betaUserServiceRegisterTOTPRequest)
    {
        $apiResult = $this->registerTOTPWithHttpInfo($betaUserServiceRegisterTOTPRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for registerTOTP but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRegisterTOTPResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRegisterTOTPResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function registerTOTPWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRegisterTOTPRequest $betaUserServiceRegisterTOTPRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RegisterTOTP';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRegisterTOTPRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRegisterTOTPResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRegisterTOTPResponse::class
        );
        return $result;
    }

    /**
     * Start the registration of a u2f token for a user
     * Start the registration of a u2f token for a user, as a response the public key credential creation options are returned, which are used to verify the u2f token.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRegisterU2FResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function registerU2F(\Zitadel\Client\Models\BetaUserServiceRegisterU2FRequest $betaUserServiceRegisterU2FRequest)
    {
        $apiResult = $this->registerU2FWithHttpInfo($betaUserServiceRegisterU2FRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for registerU2F but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRegisterU2FResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRegisterU2FResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function registerU2FWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRegisterU2FRequest $betaUserServiceRegisterU2FRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RegisterU2F';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRegisterU2FRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRegisterU2FResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRegisterU2FResponse::class
        );
        return $result;
    }

    /**
     * Remove One-Time Password (OTP) Email from a user
     * Remove the configured One-Time Password (OTP) Email factor of a user. As only one OTP Email per user is allowed, the user will not have OTP Email as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPEmail(\Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailRequest $betaUserServiceRemoveOTPEmailRequest)
    {
        $apiResult = $this->removeOTPEmailWithHttpInfo($betaUserServiceRemoveOTPEmailRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeOTPEmail but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPEmailWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailRequest $betaUserServiceRemoveOTPEmailRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RemoveOTPEmail';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRemoveOTPEmailRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRemoveOTPEmailResponse::class
        );
        return $result;
    }

    /**
     * Remove One-Time Password (OTP) SMS from a user
     * Remove the configured One-Time Password (OTP) SMS factor of a user. As only one OTP SMS per user is allowed, the user will not have OTP SMS as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPSMS(\Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSRequest $betaUserServiceRemoveOTPSMSRequest)
    {
        $apiResult = $this->removeOTPSMSWithHttpInfo($betaUserServiceRemoveOTPSMSRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeOTPSMS but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPSMSWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSRequest $betaUserServiceRemoveOTPSMSRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RemoveOTPSMS';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRemoveOTPSMSRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRemoveOTPSMSResponse::class
        );
        return $result;
    }

    /**
     * Remove the user phone
     * Remove the user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRemovePhoneResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removePhone(\Zitadel\Client\Models\BetaUserServiceRemovePhoneRequest $betaUserServiceRemovePhoneRequest)
    {
        $apiResult = $this->removePhoneWithHttpInfo($betaUserServiceRemovePhoneRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removePhone but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRemovePhoneResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRemovePhoneResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removePhoneWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRemovePhoneRequest $betaUserServiceRemovePhoneRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RemovePhone';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRemovePhoneRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRemovePhoneResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRemovePhoneResponse::class
        );
        return $result;
    }

    /**
     * Remove TOTP generator from a user
     * Remove the configured TOTP generator of a user. As only one TOTP generator per user is allowed, the user will not have TOTP as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRemoveTOTPResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTOTP(\Zitadel\Client\Models\BetaUserServiceRemoveTOTPRequest $betaUserServiceRemoveTOTPRequest)
    {
        $apiResult = $this->removeTOTPWithHttpInfo($betaUserServiceRemoveTOTPRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeTOTP but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRemoveTOTPResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRemoveTOTPResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTOTPWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRemoveTOTPRequest $betaUserServiceRemoveTOTPRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RemoveTOTP';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRemoveTOTPRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRemoveTOTPResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRemoveTOTPResponse::class
        );
        return $result;
    }

    /**
     * Resend code to verify user email
     * Resend code to verify user email   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceResendEmailCodeResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resendEmailCode(\Zitadel\Client\Models\BetaUserServiceResendEmailCodeRequest $betaUserServiceResendEmailCodeRequest)
    {
        $apiResult = $this->resendEmailCodeWithHttpInfo($betaUserServiceResendEmailCodeRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resendEmailCode but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceResendEmailCodeResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceResendEmailCodeResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resendEmailCodeWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceResendEmailCodeRequest $betaUserServiceResendEmailCodeRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/ResendEmailCode';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceResendEmailCodeRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceResendEmailCodeResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceResendEmailCodeResponse::class
        );
        return $result;
    }

    /**
     * Resend code to verify user phone
     * Resend code to verify user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceResendPhoneCodeResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resendPhoneCode(\Zitadel\Client\Models\BetaUserServiceResendPhoneCodeRequest $betaUserServiceResendPhoneCodeRequest)
    {
        $apiResult = $this->resendPhoneCodeWithHttpInfo($betaUserServiceResendPhoneCodeRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resendPhoneCode but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceResendPhoneCodeResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceResendPhoneCodeResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resendPhoneCodeWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceResendPhoneCodeRequest $betaUserServiceResendPhoneCodeRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/ResendPhoneCode';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceResendPhoneCodeRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceResendPhoneCodeResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceResendPhoneCodeResponse::class
        );
        return $result;
    }

    /**
     * Retrieve the information returned by the identity provider
     * Retrieve the information returned by the identity provider for registration or updating an existing user with new information.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function retrieveIdentityProviderIntent(\Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentRequest $betaUserServiceRetrieveIdentityProviderIntentRequest)
    {
        $apiResult = $this->retrieveIdentityProviderIntentWithHttpInfo($betaUserServiceRetrieveIdentityProviderIntentRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for retrieveIdentityProviderIntent but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function retrieveIdentityProviderIntentWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentRequest $betaUserServiceRetrieveIdentityProviderIntentRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/RetrieveIdentityProviderIntent';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceRetrieveIdentityProviderIntentRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceRetrieveIdentityProviderIntentResponse::class
        );
        return $result;
    }

    /**
     * Change the user email
     * Change the email address of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by email.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceSetEmailResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setEmail(\Zitadel\Client\Models\BetaUserServiceSetEmailRequest $betaUserServiceSetEmailRequest)
    {
        $apiResult = $this->setEmailWithHttpInfo($betaUserServiceSetEmailRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setEmail but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceSetEmailResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceSetEmailResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setEmailWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceSetEmailRequest $betaUserServiceSetEmailRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/SetEmail';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceSetEmailRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceSetEmailResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceSetEmailResponse::class
        );
        return $result;
    }

    /**
     * Change password
     * Change the password of a user with either a verification code or the current password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceSetPasswordResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setPassword(\Zitadel\Client\Models\BetaUserServiceSetPasswordRequest $betaUserServiceSetPasswordRequest)
    {
        $apiResult = $this->setPasswordWithHttpInfo($betaUserServiceSetPasswordRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setPassword but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceSetPasswordResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceSetPasswordResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setPasswordWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceSetPasswordRequest $betaUserServiceSetPasswordRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/SetPassword';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceSetPasswordRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceSetPasswordResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceSetPasswordResponse::class
        );
        return $result;
    }

    /**
     * Set the user phone
     * Set the phone number of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by sms.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceSetPhoneResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setPhone(\Zitadel\Client\Models\BetaUserServiceSetPhoneRequest $betaUserServiceSetPhoneRequest)
    {
        $apiResult = $this->setPhoneWithHttpInfo($betaUserServiceSetPhoneRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setPhone but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceSetPhoneResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceSetPhoneResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setPhoneWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceSetPhoneRequest $betaUserServiceSetPhoneRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/SetPhone';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceSetPhoneRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceSetPhoneResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceSetPhoneResponse::class
        );
        return $result;
    }

    /**
     * Start flow with an identity provider
     * Start a flow with an identity provider, for external login, registration or linking.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function startIdentityProviderIntent(\Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentRequest $betaUserServiceStartIdentityProviderIntentRequest)
    {
        $apiResult = $this->startIdentityProviderIntentWithHttpInfo($betaUserServiceStartIdentityProviderIntentRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for startIdentityProviderIntent but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function startIdentityProviderIntentWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentRequest $betaUserServiceStartIdentityProviderIntentRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/StartIdentityProviderIntent';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceStartIdentityProviderIntentRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceStartIdentityProviderIntentResponse::class
        );
        return $result;
    }

    /**
     * Unlock user
     * The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceUnlockUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function unlockUser(\Zitadel\Client\Models\BetaUserServiceUnlockUserRequest $betaUserServiceUnlockUserRequest)
    {
        $apiResult = $this->unlockUserWithHttpInfo($betaUserServiceUnlockUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for unlockUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceUnlockUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceUnlockUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function unlockUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceUnlockUserRequest $betaUserServiceUnlockUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/UnlockUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceUnlockUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceUnlockUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceUnlockUserResponse::class
        );
        return $result;
    }

    /**
     * Update User
     * Update all information from a user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceUpdateHumanUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateHumanUser(\Zitadel\Client\Models\BetaUserServiceUpdateHumanUserRequest $betaUserServiceUpdateHumanUserRequest)
    {
        $apiResult = $this->updateHumanUserWithHttpInfo($betaUserServiceUpdateHumanUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateHumanUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceUpdateHumanUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceUpdateHumanUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateHumanUserWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceUpdateHumanUserRequest $betaUserServiceUpdateHumanUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/UpdateHumanUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceUpdateHumanUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceUpdateHumanUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceUpdateHumanUserResponse::class
        );
        return $result;
    }

    /**
     * Verify the email
     * Verify the email with the generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceVerifyEmailResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyEmail(\Zitadel\Client\Models\BetaUserServiceVerifyEmailRequest $betaUserServiceVerifyEmailRequest)
    {
        $apiResult = $this->verifyEmailWithHttpInfo($betaUserServiceVerifyEmailRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyEmail but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceVerifyEmailResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyEmailResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyEmailWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceVerifyEmailRequest $betaUserServiceVerifyEmailRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/VerifyEmail';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceVerifyEmailRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyEmailResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceVerifyEmailResponse::class
        );
        return $result;
    }

    /**
     * Verify a passkey for a user
     * Verify the passkey registration with the public key credential.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyPasskeyRegistration(\Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationRequest $betaUserServiceVerifyPasskeyRegistrationRequest)
    {
        $apiResult = $this->verifyPasskeyRegistrationWithHttpInfo($betaUserServiceVerifyPasskeyRegistrationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyPasskeyRegistration but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyPasskeyRegistrationWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationRequest $betaUserServiceVerifyPasskeyRegistrationRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/VerifyPasskeyRegistration';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceVerifyPasskeyRegistrationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceVerifyPasskeyRegistrationResponse::class
        );
        return $result;
    }

    /**
     * Verify the phone
     * Verify the phone with the generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceVerifyPhoneResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyPhone(\Zitadel\Client\Models\BetaUserServiceVerifyPhoneRequest $betaUserServiceVerifyPhoneRequest)
    {
        $apiResult = $this->verifyPhoneWithHttpInfo($betaUserServiceVerifyPhoneRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyPhone but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceVerifyPhoneResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyPhoneResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyPhoneWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceVerifyPhoneRequest $betaUserServiceVerifyPhoneRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/VerifyPhone';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceVerifyPhoneRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyPhoneResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceVerifyPhoneResponse::class
        );
        return $result;
    }

    /**
     * Verify a TOTP generator for a user
     * Verify the TOTP registration with a generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyTOTPRegistration(\Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationRequest $betaUserServiceVerifyTOTPRegistrationRequest)
    {
        $apiResult = $this->verifyTOTPRegistrationWithHttpInfo($betaUserServiceVerifyTOTPRegistrationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyTOTPRegistration but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyTOTPRegistrationWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationRequest $betaUserServiceVerifyTOTPRegistrationRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/VerifyTOTPRegistration';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceVerifyTOTPRegistrationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceVerifyTOTPRegistrationResponse::class
        );
        return $result;
    }

    /**
     * Verify a u2f token for a user
     * Verify the u2f token registration with the public key credential.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).

     * @return \Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyU2FRegistration(\Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationRequest $betaUserServiceVerifyU2FRegistrationRequest)
    {
        $apiResult = $this->verifyU2FRegistrationWithHttpInfo($betaUserServiceVerifyU2FRegistrationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyU2FRegistration but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyU2FRegistrationWithHttpInfo(\Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationRequest $betaUserServiceVerifyU2FRegistrationRequest): ApiResult
    {
        $path = '/zitadel.user.v2beta.UserService/VerifyU2FRegistration';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaUserServiceVerifyU2FRegistrationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaUserServiceVerifyU2FRegistrationResponse::class
        );
        return $result;
    }
}
