<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaSessionServiceApi provides methods for the BetaSessionService API group.
 */

class BetaSessionServiceApi extends BaseApi
{
    /**
     * Create a new session
     * Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.

     * @return \Zitadel\Client\Models\BetaSessionServiceCreateSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createSession(\Zitadel\Client\Models\BetaSessionServiceCreateSessionRequest $betaSessionServiceCreateSessionRequest)
    {
        $apiResult = $this->createSessionWithHttpInfo($betaSessionServiceCreateSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaSessionServiceCreateSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaSessionServiceCreateSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createSessionWithHttpInfo(\Zitadel\Client\Models\BetaSessionServiceCreateSessionRequest $betaSessionServiceCreateSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2beta.SessionService/CreateSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaSessionServiceCreateSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaSessionServiceCreateSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaSessionServiceCreateSessionResponse::class
        );
        return $result;
    }

    /**
     * Terminate a session
     * Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.

     * @return \Zitadel\Client\Models\BetaSessionServiceDeleteSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteSession(\Zitadel\Client\Models\BetaSessionServiceDeleteSessionRequest $betaSessionServiceDeleteSessionRequest)
    {
        $apiResult = $this->deleteSessionWithHttpInfo($betaSessionServiceDeleteSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaSessionServiceDeleteSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaSessionServiceDeleteSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteSessionWithHttpInfo(\Zitadel\Client\Models\BetaSessionServiceDeleteSessionRequest $betaSessionServiceDeleteSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2beta.SessionService/DeleteSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaSessionServiceDeleteSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaSessionServiceDeleteSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaSessionServiceDeleteSessionResponse::class
        );
        return $result;
    }

    /**
     * GetSession a session
     * Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.

     * @return \Zitadel\Client\Models\BetaSessionServiceGetSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getSession(\Zitadel\Client\Models\BetaSessionServiceGetSessionRequest $betaSessionServiceGetSessionRequest)
    {
        $apiResult = $this->getSessionWithHttpInfo($betaSessionServiceGetSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaSessionServiceGetSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaSessionServiceGetSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getSessionWithHttpInfo(\Zitadel\Client\Models\BetaSessionServiceGetSessionRequest $betaSessionServiceGetSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2beta.SessionService/GetSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaSessionServiceGetSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaSessionServiceGetSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaSessionServiceGetSessionResponse::class
        );
        return $result;
    }

    /**
     * Search sessions
     * Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.

     * @return \Zitadel\Client\Models\BetaSessionServiceListSessionsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listSessions(\Zitadel\Client\Models\BetaSessionServiceListSessionsRequest $betaSessionServiceListSessionsRequest)
    {
        $apiResult = $this->listSessionsWithHttpInfo($betaSessionServiceListSessionsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listSessions but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaSessionServiceListSessionsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaSessionServiceListSessionsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listSessionsWithHttpInfo(\Zitadel\Client\Models\BetaSessionServiceListSessionsRequest $betaSessionServiceListSessionsRequest): ApiResult
    {
        $path = '/zitadel.session.v2beta.SessionService/ListSessions';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaSessionServiceListSessionsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaSessionServiceListSessionsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaSessionServiceListSessionsResponse::class
        );
        return $result;
    }

    /**
     * Update a session
     * Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.

     * @return \Zitadel\Client\Models\BetaSessionServiceSetSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setSession(\Zitadel\Client\Models\BetaSessionServiceSetSessionRequest $betaSessionServiceSetSessionRequest)
    {
        $apiResult = $this->setSessionWithHttpInfo($betaSessionServiceSetSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaSessionServiceSetSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaSessionServiceSetSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setSessionWithHttpInfo(\Zitadel\Client\Models\BetaSessionServiceSetSessionRequest $betaSessionServiceSetSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2beta.SessionService/SetSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaSessionServiceSetSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaSessionServiceSetSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaSessionServiceSetSessionResponse::class
        );
        return $result;
    }
}
