<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * BetaInstanceServiceApi provides methods for the BetaInstanceService API group.
 */

class BetaInstanceServiceApi extends BaseApi
{
    /**
     * Add Custom Domain
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a custom domain to the instance in context.   The instance_id in the input message will be used in the future   Required permissions:    - `system.domain.write`

     * @return \Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addCustomDomain(\Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainRequest $betaInstanceServiceAddCustomDomainRequest)
    {
        $apiResult = $this->addCustomDomainWithHttpInfo($betaInstanceServiceAddCustomDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addCustomDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addCustomDomainWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainRequest $betaInstanceServiceAddCustomDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/AddCustomDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceAddCustomDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceAddCustomDomainResponse::class
        );
        return $result;
    }

    /**
     * Add Trusted Domain
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a trusted domain to the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`

     * @return \Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addTrustedDomain(\Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainRequest $betaInstanceServiceAddTrustedDomainRequest)
    {
        $apiResult = $this->addTrustedDomainWithHttpInfo($betaInstanceServiceAddTrustedDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addTrustedDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addTrustedDomainWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainRequest $betaInstanceServiceAddTrustedDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/AddTrustedDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceAddTrustedDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceAddTrustedDomainResponse::class
        );
        return $result;
    }

    /**
     * Delete Instance
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes an instance with the given ID.   Required permissions:    - `system.instance.delete`

     * @return \Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteInstance(\Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceRequest $betaInstanceServiceDeleteInstanceRequest)
    {
        $apiResult = $this->deleteInstanceWithHttpInfo($betaInstanceServiceDeleteInstanceRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteInstance but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteInstanceWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceRequest $betaInstanceServiceDeleteInstanceRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/DeleteInstance';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceDeleteInstanceRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceDeleteInstanceResponse::class
        );
        return $result;
    }

    /**
     * Get Instance
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the instance in the current context.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`

     * @return \Zitadel\Client\Models\BetaInstanceServiceGetInstanceResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getInstance(\Zitadel\Client\Models\BetaInstanceServiceGetInstanceRequest $betaInstanceServiceGetInstanceRequest)
    {
        $apiResult = $this->getInstanceWithHttpInfo($betaInstanceServiceGetInstanceRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getInstance but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceGetInstanceResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceGetInstanceResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getInstanceWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceGetInstanceRequest $betaInstanceServiceGetInstanceRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/GetInstance';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceGetInstanceRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceGetInstanceResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceGetInstanceResponse::class
        );
        return $result;
    }

    /**
     * List Custom Domains
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists custom domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.read`

     * @return \Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listCustomDomains(\Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsRequest $betaInstanceServiceListCustomDomainsRequest)
    {
        $apiResult = $this->listCustomDomainsWithHttpInfo($betaInstanceServiceListCustomDomainsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listCustomDomains but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listCustomDomainsWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsRequest $betaInstanceServiceListCustomDomainsRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/ListCustomDomains';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceListCustomDomainsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceListCustomDomainsResponse::class
        );
        return $result;
    }

    /**
     * List Instances
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.   Required permissions:   - `system.instance.read`

     * @return \Zitadel\Client\Models\BetaInstanceServiceListInstancesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listInstances(\Zitadel\Client\Models\BetaInstanceServiceListInstancesRequest $betaInstanceServiceListInstancesRequest)
    {
        $apiResult = $this->listInstancesWithHttpInfo($betaInstanceServiceListInstancesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listInstances but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceListInstancesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceListInstancesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listInstancesWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceListInstancesRequest $betaInstanceServiceListInstancesRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/ListInstances';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceListInstancesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceListInstancesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceListInstancesResponse::class
        );
        return $result;
    }

    /**
     * List Trusted Domains
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists trusted domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`

     * @return \Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listTrustedDomains(\Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsRequest $betaInstanceServiceListTrustedDomainsRequest)
    {
        $apiResult = $this->listTrustedDomainsWithHttpInfo($betaInstanceServiceListTrustedDomainsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listTrustedDomains but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listTrustedDomainsWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsRequest $betaInstanceServiceListTrustedDomainsRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/ListTrustedDomains';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceListTrustedDomainsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceListTrustedDomainsResponse::class
        );
        return $result;
    }

    /**
     * Remove Custom Domain
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a custom domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `system.domain.write`

     * @return \Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeCustomDomain(\Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainRequest $betaInstanceServiceRemoveCustomDomainRequest)
    {
        $apiResult = $this->removeCustomDomainWithHttpInfo($betaInstanceServiceRemoveCustomDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeCustomDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeCustomDomainWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainRequest $betaInstanceServiceRemoveCustomDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/RemoveCustomDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceRemoveCustomDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceRemoveCustomDomainResponse::class
        );
        return $result;
    }

    /**
     * Remove Trusted Domain
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a trusted domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`

     * @return \Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTrustedDomain(\Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainRequest $betaInstanceServiceRemoveTrustedDomainRequest)
    {
        $apiResult = $this->removeTrustedDomainWithHttpInfo($betaInstanceServiceRemoveTrustedDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeTrustedDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTrustedDomainWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainRequest $betaInstanceServiceRemoveTrustedDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/RemoveTrustedDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceRemoveTrustedDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceRemoveTrustedDomainResponse::class
        );
        return $result;
    }

    /**
     * Update Instance
     * Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Updates instance in context with the given name.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.write`

     * @return \Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateInstance(\Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceRequest $betaInstanceServiceUpdateInstanceRequest)
    {
        $apiResult = $this->updateInstanceWithHttpInfo($betaInstanceServiceUpdateInstanceRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateInstance but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateInstanceWithHttpInfo(\Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceRequest $betaInstanceServiceUpdateInstanceRequest): ApiResult
    {
        $path = '/zitadel.instance.v2beta.InstanceService/UpdateInstance';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $betaInstanceServiceUpdateInstanceRequest;

        /** @var ApiResult<\Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\BetaInstanceServiceUpdateInstanceResponse::class
        );
        return $result;
    }
}
