<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * FeatureServiceApi provides methods for the FeatureService API group.
 */

class FeatureServiceApi extends BaseApi
{
    /**
     * Get Instance Features
     * Returns all configured features for an instance. Unset fields mean the feature is the current system default.   Required permissions:   - none

     * @return \Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getInstanceFeatures(\Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesRequest $featureServiceGetInstanceFeaturesRequest)
    {
        $apiResult = $this->getInstanceFeaturesWithHttpInfo($featureServiceGetInstanceFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getInstanceFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getInstanceFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesRequest $featureServiceGetInstanceFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/GetInstanceFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceGetInstanceFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceGetInstanceFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Get Organization Features
     * Returns all configured features for an organization. Unset fields mean the feature is the current instance default.   Required permissions:   - org.feature.read   - no permission required for the organization the user belongs to

     * @return \Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getOrganizationFeatures(\Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesRequest $featureServiceGetOrganizationFeaturesRequest)
    {
        $apiResult = $this->getOrganizationFeaturesWithHttpInfo($featureServiceGetOrganizationFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getOrganizationFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getOrganizationFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesRequest $featureServiceGetOrganizationFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/GetOrganizationFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceGetOrganizationFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceGetOrganizationFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Get System Features
     * Returns all configured features for the system. Unset fields mean the feature is the current system default.   Required permissions:   - none

     * @return \Zitadel\Client\Models\FeatureServiceGetSystemFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getSystemFeatures(object $body)
    {
        $apiResult = $this->getSystemFeaturesWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getSystemFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceGetSystemFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceGetSystemFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getSystemFeaturesWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/GetSystemFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceGetSystemFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceGetSystemFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Get User Features
     * Returns all configured features for a user. Unset fields mean the feature is the current organization default.   Required permissions:   - user.feature.read   - no permission required for the own user

     * @return \Zitadel\Client\Models\FeatureServiceGetUserFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getUserFeatures(\Zitadel\Client\Models\FeatureServiceGetUserFeaturesRequest $featureServiceGetUserFeaturesRequest)
    {
        $apiResult = $this->getUserFeaturesWithHttpInfo($featureServiceGetUserFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getUserFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceGetUserFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceGetUserFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getUserFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceGetUserFeaturesRequest $featureServiceGetUserFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/GetUserFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceGetUserFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceGetUserFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceGetUserFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Reset Instance Features
     * Deletes ALL configured features for an instance, reverting the behaviors to system defaults.   Required permissions:   - iam.feature.delete

     * @return \Zitadel\Client\Models\FeatureServiceResetInstanceFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resetInstanceFeatures(object $body)
    {
        $apiResult = $this->resetInstanceFeaturesWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resetInstanceFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceResetInstanceFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceResetInstanceFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resetInstanceFeaturesWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/ResetInstanceFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceResetInstanceFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceResetInstanceFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Reset Organization Features
     * Deletes ALL configured features for an organization, reverting the behaviors to instance defaults.   Required permissions:   - org.feature.delete

     * @return \Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resetOrganizationFeatures(\Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesRequest $featureServiceResetOrganizationFeaturesRequest)
    {
        $apiResult = $this->resetOrganizationFeaturesWithHttpInfo($featureServiceResetOrganizationFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resetOrganizationFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resetOrganizationFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesRequest $featureServiceResetOrganizationFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/ResetOrganizationFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceResetOrganizationFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceResetOrganizationFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Reset System Features
     * Deletes ALL configured features for the system, reverting the behaviors to system defaults.   Required permissions:   - system.feature.delete

     * @return \Zitadel\Client\Models\FeatureServiceResetSystemFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resetSystemFeatures(object $body)
    {
        $apiResult = $this->resetSystemFeaturesWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resetSystemFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceResetSystemFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceResetSystemFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resetSystemFeaturesWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/ResetSystemFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceResetSystemFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceResetSystemFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Reset User Features
     * Deletes ALL configured features for a user, reverting the behaviors to organization defaults.   Required permissions:   - user.feature.delete

     * @return \Zitadel\Client\Models\FeatureServiceResetUserFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resetUserFeatures(\Zitadel\Client\Models\FeatureServiceResetUserFeaturesRequest $featureServiceResetUserFeaturesRequest)
    {
        $apiResult = $this->resetUserFeaturesWithHttpInfo($featureServiceResetUserFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resetUserFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceResetUserFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceResetUserFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resetUserFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceResetUserFeaturesRequest $featureServiceResetUserFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/ResetUserFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceResetUserFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceResetUserFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceResetUserFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Set Instance Features
     * Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - iam.feature.write

     * @return \Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setInstanceFeatures(\Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesRequest $featureServiceSetInstanceFeaturesRequest)
    {
        $apiResult = $this->setInstanceFeaturesWithHttpInfo($featureServiceSetInstanceFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setInstanceFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setInstanceFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesRequest $featureServiceSetInstanceFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/SetInstanceFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceSetInstanceFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceSetInstanceFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Set Organization Features
     * Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - org.feature.write

     * @return \Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setOrganizationFeatures(\Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesRequest $featureServiceSetOrganizationFeaturesRequest)
    {
        $apiResult = $this->setOrganizationFeaturesWithHttpInfo($featureServiceSetOrganizationFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setOrganizationFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setOrganizationFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesRequest $featureServiceSetOrganizationFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/SetOrganizationFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceSetOrganizationFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceSetOrganizationFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Set System Features
     * Configure and set features that apply to the complete system. Only fields present in the request are set or unset.   Required permissions:   - system.feature.write

     * @return \Zitadel\Client\Models\FeatureServiceSetSystemFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setSystemFeatures(\Zitadel\Client\Models\FeatureServiceSetSystemFeaturesRequest $featureServiceSetSystemFeaturesRequest)
    {
        $apiResult = $this->setSystemFeaturesWithHttpInfo($featureServiceSetSystemFeaturesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setSystemFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceSetSystemFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceSetSystemFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setSystemFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceSetSystemFeaturesRequest $featureServiceSetSystemFeaturesRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/SetSystemFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceSetSystemFeaturesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceSetSystemFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceSetSystemFeaturesResponse::class
        );
        return $result;
    }

    /**
     * Set User Features
     * Configure and set features that apply to an user. Only fields present in the request are set or unset.   Required permissions:   - user.feature.write

     * @return \Zitadel\Client\Models\FeatureServiceSetUserFeaturesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setUserFeatures(\Zitadel\Client\Models\FeatureServiceSetUserFeatureRequest $featureServiceSetUserFeatureRequest)
    {
        $apiResult = $this->setUserFeaturesWithHttpInfo($featureServiceSetUserFeatureRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setUserFeatures but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\FeatureServiceSetUserFeaturesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\FeatureServiceSetUserFeaturesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setUserFeaturesWithHttpInfo(\Zitadel\Client\Models\FeatureServiceSetUserFeatureRequest $featureServiceSetUserFeatureRequest): ApiResult
    {
        $path = '/zitadel.feature.v2.FeatureService/SetUserFeatures';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $featureServiceSetUserFeatureRequest;

        /** @var ApiResult<\Zitadel\Client\Models\FeatureServiceSetUserFeaturesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\FeatureServiceSetUserFeaturesResponse::class
        );
        return $result;
    }
}
