<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * IdentityProviderServiceApi provides methods for the IdentityProviderService API group.
 */

class IdentityProviderServiceApi extends BaseApi
{
    /**
     * Get identity provider (IdP) by ID
     * Returns an identity provider (social/enterprise login) by its ID, which can be of the type Google, AzureAD, etc.

     * @return \Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getIDPByID(\Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDRequest $identityProviderServiceGetIDPByIDRequest)
    {
        $apiResult = $this->getIDPByIDWithHttpInfo($identityProviderServiceGetIDPByIDRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getIDPByID but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getIDPByIDWithHttpInfo(\Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDRequest $identityProviderServiceGetIDPByIDRequest): ApiResult
    {
        $path = '/zitadel.idp.v2.IdentityProviderService/GetIDPByID';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $identityProviderServiceGetIDPByIDRequest;

        /** @var ApiResult<\Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\IdentityProviderServiceGetIDPByIDResponse::class
        );
        return $result;
    }
}
