<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * InstanceServiceApi provides methods for the InstanceService API group.
 */

class InstanceServiceApi extends BaseApi
{
    /**
     * Add Custom Domain
     * Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.domain.write`

     * @return \Zitadel\Client\Models\InstanceServiceAddCustomDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addCustomDomain(\Zitadel\Client\Models\InstanceServiceAddCustomDomainRequest $instanceServiceAddCustomDomainRequest)
    {
        $apiResult = $this->addCustomDomainWithHttpInfo($instanceServiceAddCustomDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addCustomDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceAddCustomDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceAddCustomDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addCustomDomainWithHttpInfo(\Zitadel\Client\Models\InstanceServiceAddCustomDomainRequest $instanceServiceAddCustomDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/AddCustomDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceAddCustomDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceAddCustomDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceAddCustomDomainResponse::class
        );
        return $result;
    }

    /**
     * Add Trusted Domain
     * Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)

     * @return \Zitadel\Client\Models\InstanceServiceAddTrustedDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addTrustedDomain(\Zitadel\Client\Models\InstanceServiceAddTrustedDomainRequest $instanceServiceAddTrustedDomainRequest)
    {
        $apiResult = $this->addTrustedDomainWithHttpInfo($instanceServiceAddTrustedDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addTrustedDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceAddTrustedDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceAddTrustedDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addTrustedDomainWithHttpInfo(\Zitadel\Client\Models\InstanceServiceAddTrustedDomainRequest $instanceServiceAddTrustedDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/AddTrustedDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceAddTrustedDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceAddTrustedDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceAddTrustedDomainResponse::class
        );
        return $result;
    }

    /**
     * Delete Instance
     * Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.instance.delete`

     * @return \Zitadel\Client\Models\InstanceServiceDeleteInstanceResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteInstance(\Zitadel\Client\Models\InstanceServiceDeleteInstanceRequest $instanceServiceDeleteInstanceRequest)
    {
        $apiResult = $this->deleteInstanceWithHttpInfo($instanceServiceDeleteInstanceRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteInstance but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceDeleteInstanceResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceDeleteInstanceResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteInstanceWithHttpInfo(\Zitadel\Client\Models\InstanceServiceDeleteInstanceRequest $instanceServiceDeleteInstanceRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/DeleteInstance';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceDeleteInstanceRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceDeleteInstanceResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceDeleteInstanceResponse::class
        );
        return $result;
    }

    /**
     * Get Instance
     * Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)

     * @return \Zitadel\Client\Models\InstanceServiceGetInstanceResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getInstance(\Zitadel\Client\Models\InstanceServiceGetInstanceRequest $instanceServiceGetInstanceRequest)
    {
        $apiResult = $this->getInstanceWithHttpInfo($instanceServiceGetInstanceRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getInstance but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceGetInstanceResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceGetInstanceResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getInstanceWithHttpInfo(\Zitadel\Client\Models\InstanceServiceGetInstanceRequest $instanceServiceGetInstanceRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/GetInstance';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceGetInstanceRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceGetInstanceResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceGetInstanceResponse::class
        );
        return $result;
    }

    /**
     * List Custom Domains
     * Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.read`   - `system.instance.read` (if InstanceID is set)

     * @return \Zitadel\Client\Models\InstanceServiceListCustomDomainsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listCustomDomains(\Zitadel\Client\Models\InstanceServiceListCustomDomainsRequest $instanceServiceListCustomDomainsRequest)
    {
        $apiResult = $this->listCustomDomainsWithHttpInfo($instanceServiceListCustomDomainsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listCustomDomains but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceListCustomDomainsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceListCustomDomainsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listCustomDomainsWithHttpInfo(\Zitadel\Client\Models\InstanceServiceListCustomDomainsRequest $instanceServiceListCustomDomainsRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/ListCustomDomains';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceListCustomDomainsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceListCustomDomainsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceListCustomDomainsResponse::class
        );
        return $result;
    }

    /**
     * List Instances
     * Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.instance.read`

     * @return \Zitadel\Client\Models\InstanceServiceListInstancesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listInstances(\Zitadel\Client\Models\InstanceServiceListInstancesRequest $instanceServiceListInstancesRequest)
    {
        $apiResult = $this->listInstancesWithHttpInfo($instanceServiceListInstancesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listInstances but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceListInstancesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceListInstancesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listInstancesWithHttpInfo(\Zitadel\Client\Models\InstanceServiceListInstancesRequest $instanceServiceListInstancesRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/ListInstances';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceListInstancesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceListInstancesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceListInstancesResponse::class
        );
        return $result;
    }

    /**
     * List Trusted Domains
     * Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)

     * @return \Zitadel\Client\Models\InstanceServiceListTrustedDomainsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listTrustedDomains(\Zitadel\Client\Models\InstanceServiceListTrustedDomainsRequest $instanceServiceListTrustedDomainsRequest)
    {
        $apiResult = $this->listTrustedDomainsWithHttpInfo($instanceServiceListTrustedDomainsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listTrustedDomains but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceListTrustedDomainsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceListTrustedDomainsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listTrustedDomainsWithHttpInfo(\Zitadel\Client\Models\InstanceServiceListTrustedDomainsRequest $instanceServiceListTrustedDomainsRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/ListTrustedDomains';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceListTrustedDomainsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceListTrustedDomainsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceListTrustedDomainsResponse::class
        );
        return $result;
    }

    /**
     * Remove Custom Domain
     * Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.domain.write`

     * @return \Zitadel\Client\Models\InstanceServiceRemoveCustomDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeCustomDomain(\Zitadel\Client\Models\InstanceServiceRemoveCustomDomainRequest $instanceServiceRemoveCustomDomainRequest)
    {
        $apiResult = $this->removeCustomDomainWithHttpInfo($instanceServiceRemoveCustomDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeCustomDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceRemoveCustomDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceRemoveCustomDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeCustomDomainWithHttpInfo(\Zitadel\Client\Models\InstanceServiceRemoveCustomDomainRequest $instanceServiceRemoveCustomDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/RemoveCustomDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceRemoveCustomDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceRemoveCustomDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceRemoveCustomDomainResponse::class
        );
        return $result;
    }

    /**
     * Remove Trusted Domain
     * Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)

     * @return \Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTrustedDomain(\Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainRequest $instanceServiceRemoveTrustedDomainRequest)
    {
        $apiResult = $this->removeTrustedDomainWithHttpInfo($instanceServiceRemoveTrustedDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeTrustedDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTrustedDomainWithHttpInfo(\Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainRequest $instanceServiceRemoveTrustedDomainRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/RemoveTrustedDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceRemoveTrustedDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceRemoveTrustedDomainResponse::class
        );
        return $result;
    }

    /**
     * Update Instance
     * Updates instance's name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - `iam.write`    - `system.instance.write` (if InstanceID is set)

     * @return \Zitadel\Client\Models\InstanceServiceUpdateInstanceResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateInstance(\Zitadel\Client\Models\InstanceServiceUpdateInstanceRequest $instanceServiceUpdateInstanceRequest)
    {
        $apiResult = $this->updateInstanceWithHttpInfo($instanceServiceUpdateInstanceRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateInstance but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InstanceServiceUpdateInstanceResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InstanceServiceUpdateInstanceResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateInstanceWithHttpInfo(\Zitadel\Client\Models\InstanceServiceUpdateInstanceRequest $instanceServiceUpdateInstanceRequest): ApiResult
    {
        $path = '/zitadel.instance.v2.InstanceService/UpdateInstance';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $instanceServiceUpdateInstanceRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InstanceServiceUpdateInstanceResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InstanceServiceUpdateInstanceResponse::class
        );
        return $result;
    }
}
