<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * InternalPermissionServiceApi provides methods for the InternalPermissionService API group.
 */

class InternalPermissionServiceApi extends BaseApi
{
    /**
     * Create Administrator
     * CreateAdministrator grants an administrator role to a user for a specific resource.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators

     * @return \Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createAdministrator(\Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorRequest $internalPermissionServiceCreateAdministratorRequest)
    {
        $apiResult = $this->createAdministratorWithHttpInfo($internalPermissionServiceCreateAdministratorRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createAdministrator but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createAdministratorWithHttpInfo(\Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorRequest $internalPermissionServiceCreateAdministratorRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2.InternalPermissionService/CreateAdministrator';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $internalPermissionServiceCreateAdministratorRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InternalPermissionServiceCreateAdministratorResponse::class
        );
        return $result;
    }

    /**
     * Delete Administrator
     * DeleteAdministrator revokes an administrator role from a user.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators

     * @return \Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAdministrator(\Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorRequest $internalPermissionServiceDeleteAdministratorRequest)
    {
        $apiResult = $this->deleteAdministratorWithHttpInfo($internalPermissionServiceDeleteAdministratorRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteAdministrator but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteAdministratorWithHttpInfo(\Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorRequest $internalPermissionServiceDeleteAdministratorRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2.InternalPermissionService/DeleteAdministrator';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $internalPermissionServiceDeleteAdministratorRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InternalPermissionServiceDeleteAdministratorResponse::class
        );
        return $result;
    }

    /**
     * List Administrators
     * ListAdministrators returns all administrators and their roles matching the request and the caller's permissions to retrieve.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles

     * @return \Zitadel\Client\Models\InternalPermissionServiceListAdministratorsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAdministrators(\Zitadel\Client\Models\InternalPermissionServiceListAdministratorsRequest $internalPermissionServiceListAdministratorsRequest)
    {
        $apiResult = $this->listAdministratorsWithHttpInfo($internalPermissionServiceListAdministratorsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAdministrators but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InternalPermissionServiceListAdministratorsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InternalPermissionServiceListAdministratorsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAdministratorsWithHttpInfo(\Zitadel\Client\Models\InternalPermissionServiceListAdministratorsRequest $internalPermissionServiceListAdministratorsRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2.InternalPermissionService/ListAdministrators';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $internalPermissionServiceListAdministratorsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InternalPermissionServiceListAdministratorsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InternalPermissionServiceListAdministratorsResponse::class
        );
        return $result;
    }

    /**
     * Update Administrator
     * UpdateAdministrator updates the specific administrator role.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators

     * @return \Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAdministrator(\Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorRequest $internalPermissionServiceUpdateAdministratorRequest)
    {
        $apiResult = $this->updateAdministratorWithHttpInfo($internalPermissionServiceUpdateAdministratorRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateAdministrator but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateAdministratorWithHttpInfo(\Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorRequest $internalPermissionServiceUpdateAdministratorRequest): ApiResult
    {
        $path = '/zitadel.internal_permission.v2.InternalPermissionService/UpdateAdministrator';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $internalPermissionServiceUpdateAdministratorRequest;

        /** @var ApiResult<\Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\InternalPermissionServiceUpdateAdministratorResponse::class
        );
        return $result;
    }
}
