<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\Errors\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * OIDCServiceApi provides methods for the OIDCService API group.
 */
class OIDCServiceApi extends BaseApi
{
    /**
     * Authorize or Deny Device Authorization
     * Authorize or deny the device authorization request based on the provided device authorization id.   Required permissions:    - `session.link`

     * @return object
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function authorizeOrDenyDeviceAuthorization(\Zitadel\Client\Models\OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest $oidcServiceAuthorizeOrDenyDeviceAuthorizationRequest)
    {
        $apiResult = $this->authorizeOrDenyDeviceAuthorizationWithHttpInfo($oidcServiceAuthorizeOrDenyDeviceAuthorizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\Errors\ApiException(
                $apiResult->statusCode,
                'Expected a response body for authorizeOrDenyDeviceAuthorization but received none',
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var object $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<object>
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function authorizeOrDenyDeviceAuthorizationWithHttpInfo(\Zitadel\Client\Models\OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest $oidcServiceAuthorizeOrDenyDeviceAuthorizationRequest): ApiResult
    {
        $path = '/zitadel.oidc.v2.OIDCService/AuthorizeOrDenyDeviceAuthorization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $oidcServiceAuthorizeOrDenyDeviceAuthorizationRequest;

        /** @var ApiResult<object> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            'object'
        );
        return $result;
    }

    /**
     * Create Callback
     * Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.   Required permissions:    - `session.link`

     * @return \Zitadel\Client\Models\OIDCServiceCreateCallbackResponse
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function createCallback(\Zitadel\Client\Models\OIDCServiceCreateCallbackRequest $oidcServiceCreateCallbackRequest)
    {
        $apiResult = $this->createCallbackWithHttpInfo($oidcServiceCreateCallbackRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\Errors\ApiException(
                $apiResult->statusCode,
                'Expected a response body for createCallback but received none',
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OIDCServiceCreateCallbackResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OIDCServiceCreateCallbackResponse>
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function createCallbackWithHttpInfo(\Zitadel\Client\Models\OIDCServiceCreateCallbackRequest $oidcServiceCreateCallbackRequest): ApiResult
    {
        $path = '/zitadel.oidc.v2.OIDCService/CreateCallback';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $oidcServiceCreateCallbackRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OIDCServiceCreateCallbackResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OIDCServiceCreateCallbackResponse::class
        );
        return $result;
    }

    /**
     * Get Auth Request
     * Get OIDC Auth Request details by ID, obtained from the redirect URL.  Returns details that are parsed from the application's Auth Request.   Required permissions:    - `session.read`

     * @return \Zitadel\Client\Models\OIDCServiceGetAuthRequestResponse
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function getAuthRequest(\Zitadel\Client\Models\OIDCServiceGetAuthRequestRequest $oidcServiceGetAuthRequestRequest)
    {
        $apiResult = $this->getAuthRequestWithHttpInfo($oidcServiceGetAuthRequestRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\Errors\ApiException(
                $apiResult->statusCode,
                'Expected a response body for getAuthRequest but received none',
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OIDCServiceGetAuthRequestResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OIDCServiceGetAuthRequestResponse>
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function getAuthRequestWithHttpInfo(\Zitadel\Client\Models\OIDCServiceGetAuthRequestRequest $oidcServiceGetAuthRequestRequest): ApiResult
    {
        $path = '/zitadel.oidc.v2.OIDCService/GetAuthRequest';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $oidcServiceGetAuthRequestRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OIDCServiceGetAuthRequestResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OIDCServiceGetAuthRequestResponse::class
        );
        return $result;
    }

    /**
     * Get Device Authorization Request
     * Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.   Required permissions:    - `session.read`

     * @return \Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestResponse
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function getDeviceAuthorizationRequest(\Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestRequest $oidcServiceGetDeviceAuthorizationRequestRequest)
    {
        $apiResult = $this->getDeviceAuthorizationRequestWithHttpInfo($oidcServiceGetDeviceAuthorizationRequestRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\Errors\ApiException(
                $apiResult->statusCode,
                'Expected a response body for getDeviceAuthorizationRequest but received none',
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestResponse>
     * @throws \Zitadel\Client\Errors\ApiException
     */
    public function getDeviceAuthorizationRequestWithHttpInfo(\Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestRequest $oidcServiceGetDeviceAuthorizationRequestRequest): ApiResult
    {
        $path = '/zitadel.oidc.v2.OIDCService/GetDeviceAuthorizationRequest';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $oidcServiceGetDeviceAuthorizationRequestRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OIDCServiceGetDeviceAuthorizationRequestResponse::class
        );
        return $result;
    }
}
