<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * OrganizationServiceApi provides methods for the OrganizationService API group.
 */

class OrganizationServiceApi extends BaseApi
{
    /**
     * Activate Organization
     * Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceActivateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateOrganization(\Zitadel\Client\Models\OrganizationServiceActivateOrganizationRequest $organizationServiceActivateOrganizationRequest)
    {
        $apiResult = $this->activateOrganizationWithHttpInfo($organizationServiceActivateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceActivateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceActivateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateOrganizationWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceActivateOrganizationRequest $organizationServiceActivateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/ActivateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceActivateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceActivateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceActivateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Add Organization
     * Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`

     * @return \Zitadel\Client\Models\OrganizationServiceAddOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOrganization(\Zitadel\Client\Models\OrganizationServiceAddOrganizationRequest $organizationServiceAddOrganizationRequest)
    {
        $apiResult = $this->addOrganizationWithHttpInfo($organizationServiceAddOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceAddOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceAddOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOrganizationWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceAddOrganizationRequest $organizationServiceAddOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/AddOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceAddOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceAddOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceAddOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Add Organization Domain
     * Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOrganizationDomain(\Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainRequest $organizationServiceAddOrganizationDomainRequest)
    {
        $apiResult = $this->addOrganizationDomainWithHttpInfo($organizationServiceAddOrganizationDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOrganizationDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOrganizationDomainWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainRequest $organizationServiceAddOrganizationDomainRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/AddOrganizationDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceAddOrganizationDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceAddOrganizationDomainResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Organization
     * Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateOrganization(\Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationRequest $organizationServiceDeactivateOrganizationRequest)
    {
        $apiResult = $this->deactivateOrganizationWithHttpInfo($organizationServiceDeactivateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateOrganizationWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationRequest $organizationServiceDeactivateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/DeactivateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceDeactivateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceDeactivateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Delete Organization
     * Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`

     * @return \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganization(\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationRequest $organizationServiceDeleteOrganizationRequest)
    {
        $apiResult = $this->deleteOrganizationWithHttpInfo($organizationServiceDeleteOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationRequest $organizationServiceDeleteOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/DeleteOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceDeleteOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Delete Organization Domain
     * Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationDomain(\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainRequest $organizationServiceDeleteOrganizationDomainRequest)
    {
        $apiResult = $this->deleteOrganizationDomainWithHttpInfo($organizationServiceDeleteOrganizationDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteOrganizationDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationDomainWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainRequest $organizationServiceDeleteOrganizationDomainRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/DeleteOrganizationDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceDeleteOrganizationDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationDomainResponse::class
        );
        return $result;
    }

    /**
     * Delete Organization Metadata
     * Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationMetadata(\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataRequest $organizationServiceDeleteOrganizationMetadataRequest)
    {
        $apiResult = $this->deleteOrganizationMetadataWithHttpInfo($organizationServiceDeleteOrganizationMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteOrganizationMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteOrganizationMetadataWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataRequest $organizationServiceDeleteOrganizationMetadataRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/DeleteOrganizationMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceDeleteOrganizationMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceDeleteOrganizationMetadataResponse::class
        );
        return $result;
    }

    /**
     * Generate Organization Domain Validation
     * Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function generateOrganizationDomainValidation(\Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationRequest $organizationServiceGenerateOrganizationDomainValidationRequest)
    {
        $apiResult = $this->generateOrganizationDomainValidationWithHttpInfo($organizationServiceGenerateOrganizationDomainValidationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for generateOrganizationDomainValidation but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function generateOrganizationDomainValidationWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationRequest $organizationServiceGenerateOrganizationDomainValidationRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/GenerateOrganizationDomainValidation';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceGenerateOrganizationDomainValidationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceGenerateOrganizationDomainValidationResponse::class
        );
        return $result;
    }

    /**
     * List Organization Domains
     * Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.read`

     * @return \Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationDomains(\Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsRequest $organizationServiceListOrganizationDomainsRequest)
    {
        $apiResult = $this->listOrganizationDomainsWithHttpInfo($organizationServiceListOrganizationDomainsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listOrganizationDomains but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationDomainsWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsRequest $organizationServiceListOrganizationDomainsRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/ListOrganizationDomains';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceListOrganizationDomainsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceListOrganizationDomainsResponse::class
        );
        return $result;
    }

    /**
     * List Organization Metadata
     * List metadata of an organization filtered by query.   Required permission:   - `org.read`

     * @return \Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationMetadata(\Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataRequest $organizationServiceListOrganizationMetadataRequest)
    {
        $apiResult = $this->listOrganizationMetadataWithHttpInfo($organizationServiceListOrganizationMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listOrganizationMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationMetadataWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataRequest $organizationServiceListOrganizationMetadataRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/ListOrganizationMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceListOrganizationMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceListOrganizationMetadataResponse::class
        );
        return $result;
    }

    /**
     * List Organizations
     * Search for Organizations. By default, we will return all organization of the instance that you have permission to read.  Make sure to include a limit and sorting for pagination.   Required permission:   - `org.read`

     * @return \Zitadel\Client\Models\OrganizationServiceListOrganizationsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizations(\Zitadel\Client\Models\OrganizationServiceListOrganizationsRequest $organizationServiceListOrganizationsRequest)
    {
        $apiResult = $this->listOrganizationsWithHttpInfo($organizationServiceListOrganizationsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listOrganizations but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceListOrganizationsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceListOrganizationsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listOrganizationsWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceListOrganizationsRequest $organizationServiceListOrganizationsRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/ListOrganizations';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceListOrganizationsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceListOrganizationsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceListOrganizationsResponse::class
        );
        return $result;
    }

    /**
     * Set Organization Metadata
     * Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setOrganizationMetadata(\Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataRequest $organizationServiceSetOrganizationMetadataRequest)
    {
        $apiResult = $this->setOrganizationMetadataWithHttpInfo($organizationServiceSetOrganizationMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setOrganizationMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setOrganizationMetadataWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataRequest $organizationServiceSetOrganizationMetadataRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/SetOrganizationMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceSetOrganizationMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceSetOrganizationMetadataResponse::class
        );
        return $result;
    }

    /**
     * Update Organization
     * Change the name of the organization.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceUpdateOrganizationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateOrganization(\Zitadel\Client\Models\OrganizationServiceUpdateOrganizationRequest $organizationServiceUpdateOrganizationRequest)
    {
        $apiResult = $this->updateOrganizationWithHttpInfo($organizationServiceUpdateOrganizationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateOrganization but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceUpdateOrganizationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceUpdateOrganizationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateOrganizationWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceUpdateOrganizationRequest $organizationServiceUpdateOrganizationRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/UpdateOrganization';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceUpdateOrganizationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceUpdateOrganizationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceUpdateOrganizationResponse::class
        );
        return $result;
    }

    /**
     * Verify Organization Domain
     * Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`

     * @return \Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyOrganizationDomain(\Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainRequest $organizationServiceVerifyOrganizationDomainRequest)
    {
        $apiResult = $this->verifyOrganizationDomainWithHttpInfo($organizationServiceVerifyOrganizationDomainRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for verifyOrganizationDomain but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function verifyOrganizationDomainWithHttpInfo(\Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainRequest $organizationServiceVerifyOrganizationDomainRequest): ApiResult
    {
        $path = '/zitadel.org.v2.OrganizationService/VerifyOrganizationDomain';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $organizationServiceVerifyOrganizationDomainRequest;

        /** @var ApiResult<\Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\OrganizationServiceVerifyOrganizationDomainResponse::class
        );
        return $result;
    }
}
