<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * ProjectServiceApi provides methods for the ProjectService API group.
 */

class ProjectServiceApi extends BaseApi
{
    /**
     * Activate Project
     * Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`

     * @return \Zitadel\Client\Models\ProjectServiceActivateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProject(\Zitadel\Client\Models\ProjectServiceActivateProjectRequest $projectServiceActivateProjectRequest)
    {
        $apiResult = $this->activateProjectWithHttpInfo($projectServiceActivateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceActivateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceActivateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProjectWithHttpInfo(\Zitadel\Client\Models\ProjectServiceActivateProjectRequest $projectServiceActivateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/ActivateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceActivateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceActivateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceActivateProjectResponse::class
        );
        return $result;
    }

    /**
     * Activate Project Grant
     * Set the state of the project grant to activated.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\ProjectServiceActivateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProjectGrant(\Zitadel\Client\Models\ProjectServiceActivateProjectGrantRequest $projectServiceActivateProjectGrantRequest)
    {
        $apiResult = $this->activateProjectGrantWithHttpInfo($projectServiceActivateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for activateProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceActivateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceActivateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function activateProjectGrantWithHttpInfo(\Zitadel\Client\Models\ProjectServiceActivateProjectGrantRequest $projectServiceActivateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/ActivateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceActivateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceActivateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceActivateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Add Project Role
     * Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`

     * @return \Zitadel\Client\Models\ProjectServiceAddProjectRoleResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addProjectRole(\Zitadel\Client\Models\ProjectServiceAddProjectRoleRequest $projectServiceAddProjectRoleRequest)
    {
        $apiResult = $this->addProjectRoleWithHttpInfo($projectServiceAddProjectRoleRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addProjectRole but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceAddProjectRoleResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceAddProjectRoleResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addProjectRoleWithHttpInfo(\Zitadel\Client\Models\ProjectServiceAddProjectRoleRequest $projectServiceAddProjectRoleRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/AddProjectRole';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceAddProjectRoleRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceAddProjectRoleResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceAddProjectRoleResponse::class
        );
        return $result;
    }

    /**
     * Create Project
     * Create a new project. A project is a vessel to group applications, roles and  authorizations. Every project belongs to exactly one organization, but  can be granted to other organizations for self-management of their authorizations.   Required permission:    - `project.create`

     * @return \Zitadel\Client\Models\ProjectServiceCreateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createProject(\Zitadel\Client\Models\ProjectServiceCreateProjectRequest $projectServiceCreateProjectRequest)
    {
        $apiResult = $this->createProjectWithHttpInfo($projectServiceCreateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceCreateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceCreateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createProjectWithHttpInfo(\Zitadel\Client\Models\ProjectServiceCreateProjectRequest $projectServiceCreateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/CreateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceCreateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceCreateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceCreateProjectResponse::class
        );
        return $result;
    }

    /**
     * Create Project Grant
     * Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.create`

     * @return \Zitadel\Client\Models\ProjectServiceCreateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createProjectGrant(\Zitadel\Client\Models\ProjectServiceCreateProjectGrantRequest $projectServiceCreateProjectGrantRequest)
    {
        $apiResult = $this->createProjectGrantWithHttpInfo($projectServiceCreateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceCreateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceCreateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createProjectGrantWithHttpInfo(\Zitadel\Client\Models\ProjectServiceCreateProjectGrantRequest $projectServiceCreateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/CreateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceCreateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceCreateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceCreateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Project
     * Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`

     * @return \Zitadel\Client\Models\ProjectServiceDeactivateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProject(\Zitadel\Client\Models\ProjectServiceDeactivateProjectRequest $projectServiceDeactivateProjectRequest)
    {
        $apiResult = $this->deactivateProjectWithHttpInfo($projectServiceDeactivateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceDeactivateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceDeactivateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProjectWithHttpInfo(\Zitadel\Client\Models\ProjectServiceDeactivateProjectRequest $projectServiceDeactivateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/DeactivateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceDeactivateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceDeactivateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceDeactivateProjectResponse::class
        );
        return $result;
    }

    /**
     * Deactivate Project Grant
     * Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProjectGrant(\Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantRequest $projectServiceDeactivateProjectGrantRequest)
    {
        $apiResult = $this->deactivateProjectGrantWithHttpInfo($projectServiceDeactivateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateProjectGrantWithHttpInfo(\Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantRequest $projectServiceDeactivateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/DeactivateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceDeactivateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceDeactivateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Delete Project
     * Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`

     * @return \Zitadel\Client\Models\ProjectServiceDeleteProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProject(\Zitadel\Client\Models\ProjectServiceDeleteProjectRequest $projectServiceDeleteProjectRequest)
    {
        $apiResult = $this->deleteProjectWithHttpInfo($projectServiceDeleteProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceDeleteProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceDeleteProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProjectWithHttpInfo(\Zitadel\Client\Models\ProjectServiceDeleteProjectRequest $projectServiceDeleteProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/DeleteProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceDeleteProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceDeleteProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceDeleteProjectResponse::class
        );
        return $result;
    }

    /**
     * Delete Project Grant
     * Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`

     * @return \Zitadel\Client\Models\ProjectServiceDeleteProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProjectGrant(\Zitadel\Client\Models\ProjectServiceDeleteProjectGrantRequest $projectServiceDeleteProjectGrantRequest)
    {
        $apiResult = $this->deleteProjectGrantWithHttpInfo($projectServiceDeleteProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceDeleteProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceDeleteProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteProjectGrantWithHttpInfo(\Zitadel\Client\Models\ProjectServiceDeleteProjectGrantRequest $projectServiceDeleteProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/DeleteProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceDeleteProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceDeleteProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceDeleteProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Get Project
     * Returns the project identified by the requested ID.   Required permission:    - `project.read`

     * @return \Zitadel\Client\Models\ProjectServiceGetProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getProject(\Zitadel\Client\Models\ProjectServiceGetProjectRequest $projectServiceGetProjectRequest)
    {
        $apiResult = $this->getProjectWithHttpInfo($projectServiceGetProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceGetProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceGetProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getProjectWithHttpInfo(\Zitadel\Client\Models\ProjectServiceGetProjectRequest $projectServiceGetProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/GetProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceGetProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceGetProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceGetProjectResponse::class
        );
        return $result;
    }

    /**
     * List Project Grants
     * Returns a list of project grants. A project grant is when the organization grants its project  to another organization.   Required permission:    - `project.grant.read`

     * @return \Zitadel\Client\Models\ProjectServiceListProjectGrantsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectGrants(\Zitadel\Client\Models\ProjectServiceListProjectGrantsRequest $projectServiceListProjectGrantsRequest)
    {
        $apiResult = $this->listProjectGrantsWithHttpInfo($projectServiceListProjectGrantsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listProjectGrants but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceListProjectGrantsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceListProjectGrantsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectGrantsWithHttpInfo(\Zitadel\Client\Models\ProjectServiceListProjectGrantsRequest $projectServiceListProjectGrantsRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/ListProjectGrants';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceListProjectGrantsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceListProjectGrantsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceListProjectGrantsResponse::class
        );
        return $result;
    }

    /**
     * List Project Roles
     * Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`

     * @return \Zitadel\Client\Models\ProjectServiceListProjectRolesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectRoles(\Zitadel\Client\Models\ProjectServiceListProjectRolesRequest $projectServiceListProjectRolesRequest)
    {
        $apiResult = $this->listProjectRolesWithHttpInfo($projectServiceListProjectRolesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listProjectRoles but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceListProjectRolesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceListProjectRolesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectRolesWithHttpInfo(\Zitadel\Client\Models\ProjectServiceListProjectRolesRequest $projectServiceListProjectRolesRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/ListProjectRoles';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceListProjectRolesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceListProjectRolesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceListProjectRolesResponse::class
        );
        return $result;
    }

    /**
     * List Projects
     * List all matching projects. By default all projects of the instance that the caller  has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`

     * @return \Zitadel\Client\Models\ProjectServiceListProjectsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjects(\Zitadel\Client\Models\ProjectServiceListProjectsRequest $projectServiceListProjectsRequest)
    {
        $apiResult = $this->listProjectsWithHttpInfo($projectServiceListProjectsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listProjects but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceListProjectsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceListProjectsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listProjectsWithHttpInfo(\Zitadel\Client\Models\ProjectServiceListProjectsRequest $projectServiceListProjectsRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/ListProjects';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceListProjectsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceListProjectsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceListProjectsResponse::class
        );
        return $result;
    }

    /**
     * Remove Project Role
     * Removes the role from the project and on every resource it has a dependency.  This includes project grants and user grants.   Required permission:    - `project.role.write`

     * @return \Zitadel\Client\Models\ProjectServiceRemoveProjectRoleResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeProjectRole(\Zitadel\Client\Models\ProjectServiceRemoveProjectRoleRequest $projectServiceRemoveProjectRoleRequest)
    {
        $apiResult = $this->removeProjectRoleWithHttpInfo($projectServiceRemoveProjectRoleRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeProjectRole but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceRemoveProjectRoleResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceRemoveProjectRoleResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeProjectRoleWithHttpInfo(\Zitadel\Client\Models\ProjectServiceRemoveProjectRoleRequest $projectServiceRemoveProjectRoleRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/RemoveProjectRole';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceRemoveProjectRoleRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceRemoveProjectRoleResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceRemoveProjectRoleResponse::class
        );
        return $result;
    }

    /**
     * Update Project
     * Update an existing project.   Required permission:    - `project.write`

     * @return \Zitadel\Client\Models\ProjectServiceUpdateProjectResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProject(\Zitadel\Client\Models\ProjectServiceUpdateProjectRequest $projectServiceUpdateProjectRequest)
    {
        $apiResult = $this->updateProjectWithHttpInfo($projectServiceUpdateProjectRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateProject but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceUpdateProjectResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceUpdateProjectResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectWithHttpInfo(\Zitadel\Client\Models\ProjectServiceUpdateProjectRequest $projectServiceUpdateProjectRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/UpdateProject';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceUpdateProjectRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceUpdateProjectResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceUpdateProjectResponse::class
        );
        return $result;
    }

    /**
     * Update Project Grant
     * Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.write`

     * @return \Zitadel\Client\Models\ProjectServiceUpdateProjectGrantResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectGrant(\Zitadel\Client\Models\ProjectServiceUpdateProjectGrantRequest $projectServiceUpdateProjectGrantRequest)
    {
        $apiResult = $this->updateProjectGrantWithHttpInfo($projectServiceUpdateProjectGrantRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateProjectGrant but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceUpdateProjectGrantResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceUpdateProjectGrantResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectGrantWithHttpInfo(\Zitadel\Client\Models\ProjectServiceUpdateProjectGrantRequest $projectServiceUpdateProjectGrantRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/UpdateProjectGrant';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceUpdateProjectGrantRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceUpdateProjectGrantResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceUpdateProjectGrantResponse::class
        );
        return $result;
    }

    /**
     * Update Project Role
     * Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`

     * @return \Zitadel\Client\Models\ProjectServiceUpdateProjectRoleResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectRole(\Zitadel\Client\Models\ProjectServiceUpdateProjectRoleRequest $projectServiceUpdateProjectRoleRequest)
    {
        $apiResult = $this->updateProjectRoleWithHttpInfo($projectServiceUpdateProjectRoleRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for updateProjectRole but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\ProjectServiceUpdateProjectRoleResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\ProjectServiceUpdateProjectRoleResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function updateProjectRoleWithHttpInfo(\Zitadel\Client\Models\ProjectServiceUpdateProjectRoleRequest $projectServiceUpdateProjectRoleRequest): ApiResult
    {
        $path = '/zitadel.project.v2.ProjectService/UpdateProjectRole';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $projectServiceUpdateProjectRoleRequest;

        /** @var ApiResult<\Zitadel\Client\Models\ProjectServiceUpdateProjectRoleResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\ProjectServiceUpdateProjectRoleResponse::class
        );
        return $result;
    }
}
