<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * SAMLServiceApi provides methods for the SAMLService API group.
 */

class SAMLServiceApi extends BaseApi
{
    /**
     * Create Response
     * Finalize a SAML Request and get the response definition for success or failure.  The response must be handled as per the SAML definition to inform the application about the success or failure.  On success, the response contains details for the application to obtain the SAMLResponse.  This method can only be called once for an SAML request.   Required permissions:    - `session.link`

     * @return \Zitadel\Client\Models\SAMLServiceCreateResponseResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createResponse(\Zitadel\Client\Models\SAMLServiceCreateResponseRequest $sAMLServiceCreateResponseRequest)
    {
        $apiResult = $this->createResponseWithHttpInfo($sAMLServiceCreateResponseRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createResponse but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SAMLServiceCreateResponseResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SAMLServiceCreateResponseResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createResponseWithHttpInfo(\Zitadel\Client\Models\SAMLServiceCreateResponseRequest $sAMLServiceCreateResponseRequest): ApiResult
    {
        $path = '/zitadel.saml.v2.SAMLService/CreateResponse';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sAMLServiceCreateResponseRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SAMLServiceCreateResponseResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SAMLServiceCreateResponseResponse::class
        );
        return $result;
    }

    /**
     * Get SAML Request
     * Get SAML Request details by ID. Returns details that are parsed from the application's SAML Request.   Required permissions:    - `session.read`

     * @return \Zitadel\Client\Models\SAMLServiceGetSAMLRequestResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getSAMLRequest(\Zitadel\Client\Models\SAMLServiceGetSAMLRequestRequest $sAMLServiceGetSAMLRequestRequest)
    {
        $apiResult = $this->getSAMLRequestWithHttpInfo($sAMLServiceGetSAMLRequestRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getSAMLRequest but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SAMLServiceGetSAMLRequestResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SAMLServiceGetSAMLRequestResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getSAMLRequestWithHttpInfo(\Zitadel\Client\Models\SAMLServiceGetSAMLRequestRequest $sAMLServiceGetSAMLRequestRequest): ApiResult
    {
        $path = '/zitadel.saml.v2.SAMLService/GetSAMLRequest';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sAMLServiceGetSAMLRequestRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SAMLServiceGetSAMLRequestResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SAMLServiceGetSAMLRequestResponse::class
        );
        return $result;
    }
}
