<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * SessionServiceApi provides methods for the SessionService API group.
 */

class SessionServiceApi extends BaseApi
{
    /**
     * Create Session
     * Create a new session with initial checks, metadata and challenges for further verification.  A token will be returned, which is required for using the session as authentication, e.g.  when authenticating an OIDC auth request or SAML request.  Additionally, the session token can be used as OAuth2 access token to authenticate against  the ZITADEL APIs.   Required permissions:    - `session.write`

     * @return \Zitadel\Client\Models\SessionServiceCreateSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createSession(\Zitadel\Client\Models\SessionServiceCreateSessionRequest $sessionServiceCreateSessionRequest)
    {
        $apiResult = $this->createSessionWithHttpInfo($sessionServiceCreateSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SessionServiceCreateSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SessionServiceCreateSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createSessionWithHttpInfo(\Zitadel\Client\Models\SessionServiceCreateSessionRequest $sessionServiceCreateSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2.SessionService/CreateSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sessionServiceCreateSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SessionServiceCreateSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SessionServiceCreateSessionResponse::class
        );
        return $result;
    }

    /**
     * DeleteSession
     * Terminate an existing session. This invalidates the session and its token.  The session can no longer be used for the authentication of other resources  or to authenticate against the ZITADEL APIs.   You can only terminate your own session, unless you are granted the `session.delete` permission.   Required permissions:    - `session.delete`    - no permission required for own sessions or when providing the current session token

     * @return \Zitadel\Client\Models\SessionServiceDeleteSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteSession(\Zitadel\Client\Models\SessionServiceDeleteSessionRequest $sessionServiceDeleteSessionRequest)
    {
        $apiResult = $this->deleteSessionWithHttpInfo($sessionServiceDeleteSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SessionServiceDeleteSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SessionServiceDeleteSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteSessionWithHttpInfo(\Zitadel\Client\Models\SessionServiceDeleteSessionRequest $sessionServiceDeleteSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2.SessionService/DeleteSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sessionServiceDeleteSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SessionServiceDeleteSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SessionServiceDeleteSessionResponse::class
        );
        return $result;
    }

    /**
     * Get Session
     * Retrieve a session by its ID. Returns all information about the session, including  the factors that were verified, the metadata, user agent information and possible expiration date.  The session token is required unless either of the following conditions is met:    - the caller created the session    - the authenticated user requests their own session (checked user)    - the security token provided in the authorization header has the same user agent as the session    - the caller is granted the permission session.read permission on either the instance or on the checked user's organization   Required permissions:    - `session.read`    - no permission required to get own sessions (see above) or when providing the current session token

     * @return \Zitadel\Client\Models\SessionServiceGetSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getSession(\Zitadel\Client\Models\SessionServiceGetSessionRequest $sessionServiceGetSessionRequest)
    {
        $apiResult = $this->getSessionWithHttpInfo($sessionServiceGetSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SessionServiceGetSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SessionServiceGetSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getSessionWithHttpInfo(\Zitadel\Client\Models\SessionServiceGetSessionRequest $sessionServiceGetSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2.SessionService/GetSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sessionServiceGetSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SessionServiceGetSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SessionServiceGetSessionResponse::class
        );
        return $result;
    }

    /**
     * List sessions
     * Searches for sessions matching the given query. You can search by session ID, user ID,  creation date, creator, user agent or expiration date.   Required permissions:    - `session.read`    - no permission required to search for own sessions

     * @return \Zitadel\Client\Models\SessionServiceListSessionsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listSessions(\Zitadel\Client\Models\SessionServiceListSessionsRequest $sessionServiceListSessionsRequest)
    {
        $apiResult = $this->listSessionsWithHttpInfo($sessionServiceListSessionsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listSessions but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SessionServiceListSessionsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SessionServiceListSessionsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listSessionsWithHttpInfo(\Zitadel\Client\Models\SessionServiceListSessionsRequest $sessionServiceListSessionsRequest): ApiResult
    {
        $path = '/zitadel.session.v2.SessionService/ListSessions';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sessionServiceListSessionsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SessionServiceListSessionsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SessionServiceListSessionsResponse::class
        );
        return $result;
    }

    /**
     * Set Session
     * Update an existing session with new information like additional checks or metadata  or request additional challenges.  A new session token will be returned. Note that the previous token will be invalidated.   Required permissions:    - `session.write`

     * @return \Zitadel\Client\Models\SessionServiceSetSessionResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setSession(\Zitadel\Client\Models\SessionServiceSetSessionRequest $sessionServiceSetSessionRequest)
    {
        $apiResult = $this->setSessionWithHttpInfo($sessionServiceSetSessionRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setSession but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SessionServiceSetSessionResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SessionServiceSetSessionResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setSessionWithHttpInfo(\Zitadel\Client\Models\SessionServiceSetSessionRequest $sessionServiceSetSessionRequest): ApiResult
    {
        $path = '/zitadel.session.v2.SessionService/SetSession';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $sessionServiceSetSessionRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SessionServiceSetSessionResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SessionServiceSetSessionResponse::class
        );
        return $result;
    }
}
