<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * SettingsServiceApi provides methods for the SettingsService API group.
 */

class SettingsServiceApi extends BaseApi
{
    /**
     * Get Active Identity Providers
     * Get the current active identity providers for the requested context.  This can be the instance or an organization. In case of an organization,  the returned identity providers will fall back to the active instance identity providers  if not explicitly set on the organization.   Optionally, filter the identity providers by their allowed actions:    - creation_allowed: only return identity providers that are allowed for user creation    - linking_allowed: only return identity providers that are allowed for linking to existing users    - auto_creation: only return identity providers that are allowed for automatic user creation    - auto_linking: only return identity providers that are allowed for automatic linking to existing users   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getActiveIdentityProviders(\Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersRequest $settingsServiceGetActiveIdentityProvidersRequest)
    {
        $apiResult = $this->getActiveIdentityProvidersWithHttpInfo($settingsServiceGetActiveIdentityProvidersRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getActiveIdentityProviders but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getActiveIdentityProvidersWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersRequest $settingsServiceGetActiveIdentityProvidersRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetActiveIdentityProviders';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetActiveIdentityProvidersRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetActiveIdentityProvidersResponse::class
        );
        return $result;
    }

    /**
     * Get Branding Settings
     * Get the current active branding settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetBrandingSettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getBrandingSettings(\Zitadel\Client\Models\SettingsServiceGetBrandingSettingsRequest $settingsServiceGetBrandingSettingsRequest)
    {
        $apiResult = $this->getBrandingSettingsWithHttpInfo($settingsServiceGetBrandingSettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getBrandingSettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetBrandingSettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetBrandingSettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getBrandingSettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetBrandingSettingsRequest $settingsServiceGetBrandingSettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetBrandingSettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetBrandingSettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetBrandingSettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetBrandingSettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Domain Settings
     * Get the domain settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetDomainSettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getDomainSettings(\Zitadel\Client\Models\SettingsServiceGetDomainSettingsRequest $settingsServiceGetDomainSettingsRequest)
    {
        $apiResult = $this->getDomainSettingsWithHttpInfo($settingsServiceGetDomainSettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getDomainSettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetDomainSettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetDomainSettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getDomainSettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetDomainSettingsRequest $settingsServiceGetDomainSettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetDomainSettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetDomainSettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetDomainSettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetDomainSettingsResponse::class
        );
        return $result;
    }

    /**
     * Get General Settings
     * Get basic information of the instance like the default organization, default language and supported languages.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetGeneralSettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getGeneralSettings(object $body)
    {
        $apiResult = $this->getGeneralSettingsWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getGeneralSettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetGeneralSettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetGeneralSettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getGeneralSettingsWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetGeneralSettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetGeneralSettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetGeneralSettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Hosted Login Translation
     * Returns the translations in the requested locale for the hosted login.  The translations returned are based on the input level specified (system, instance or organization).   If the requested level doesn't contain all translations, and ignore_inheritance is set to false,  a merging process fallbacks onto the higher levels ensuring all keys in the file have a translation,  which could be in the default language if the one of the locale is missing on all levels.   The etag returned in the response represents the hash of the translations as they are stored on DB  and its reliable only if ignore_inheritance = true.   Required permissions:    - `iam.policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getHostedLoginTranslation(\Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationRequest $settingsServiceGetHostedLoginTranslationRequest)
    {
        $apiResult = $this->getHostedLoginTranslationWithHttpInfo($settingsServiceGetHostedLoginTranslationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getHostedLoginTranslation but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getHostedLoginTranslationWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationRequest $settingsServiceGetHostedLoginTranslationRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetHostedLoginTranslation';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetHostedLoginTranslationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetHostedLoginTranslationResponse::class
        );
        return $result;
    }

    /**
     * Get Legal and Support Settings
     * Get the legal and support settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getLegalAndSupportSettings(\Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsRequest $settingsServiceGetLegalAndSupportSettingsRequest)
    {
        $apiResult = $this->getLegalAndSupportSettingsWithHttpInfo($settingsServiceGetLegalAndSupportSettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getLegalAndSupportSettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getLegalAndSupportSettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsRequest $settingsServiceGetLegalAndSupportSettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetLegalAndSupportSettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetLegalAndSupportSettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetLegalAndSupportSettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Lockout Settings
     * Get the lockout settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Lockout settings define how many failed attempts are allowed before a user is locked out.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetLockoutSettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getLockoutSettings(\Zitadel\Client\Models\SettingsServiceGetLockoutSettingsRequest $settingsServiceGetLockoutSettingsRequest)
    {
        $apiResult = $this->getLockoutSettingsWithHttpInfo($settingsServiceGetLockoutSettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getLockoutSettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetLockoutSettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetLockoutSettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getLockoutSettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetLockoutSettingsRequest $settingsServiceGetLockoutSettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetLockoutSettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetLockoutSettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetLockoutSettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetLockoutSettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Login Settings
     * Get the login settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetLoginSettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getLoginSettings(\Zitadel\Client\Models\SettingsServiceGetLoginSettingsRequest $settingsServiceGetLoginSettingsRequest)
    {
        $apiResult = $this->getLoginSettingsWithHttpInfo($settingsServiceGetLoginSettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getLoginSettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetLoginSettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetLoginSettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getLoginSettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetLoginSettingsRequest $settingsServiceGetLoginSettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetLoginSettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetLoginSettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetLoginSettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetLoginSettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Password Complexity Settings
     * Get the password complexity settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getPasswordComplexitySettings(\Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsRequest $settingsServiceGetPasswordComplexitySettingsRequest)
    {
        $apiResult = $this->getPasswordComplexitySettingsWithHttpInfo($settingsServiceGetPasswordComplexitySettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getPasswordComplexitySettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getPasswordComplexitySettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsRequest $settingsServiceGetPasswordComplexitySettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetPasswordComplexitySettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetPasswordComplexitySettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetPasswordComplexitySettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Password Expiry Settings
     * Get the password expiry settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getPasswordExpirySettings(\Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsRequest $settingsServiceGetPasswordExpirySettingsRequest)
    {
        $apiResult = $this->getPasswordExpirySettingsWithHttpInfo($settingsServiceGetPasswordExpirySettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getPasswordExpirySettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getPasswordExpirySettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsRequest $settingsServiceGetPasswordExpirySettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetPasswordExpirySettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceGetPasswordExpirySettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetPasswordExpirySettingsResponse::class
        );
        return $result;
    }

    /**
     * Get Security Settings
     * Get the security settings of the ZITADEL instance.  Security settings include settings like enabling impersonation and embedded iframe settings.   Required permissions:    - `iam.policy.read`

     * @return \Zitadel\Client\Models\SettingsServiceGetSecuritySettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getSecuritySettings(object $body)
    {
        $apiResult = $this->getSecuritySettingsWithHttpInfo($body);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getSecuritySettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceGetSecuritySettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceGetSecuritySettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getSecuritySettingsWithHttpInfo(object $body): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/GetSecuritySettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $body;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceGetSecuritySettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceGetSecuritySettingsResponse::class
        );
        return $result;
    }

    /**
     * Set Hosted Login Translation
     * Sets the input translations at the specified level (instance or organization) for the input language.   Required permissions:    - `iam.policy.write`

     * @return \Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setHostedLoginTranslation(\Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationRequest $settingsServiceSetHostedLoginTranslationRequest)
    {
        $apiResult = $this->setHostedLoginTranslationWithHttpInfo($settingsServiceSetHostedLoginTranslationRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setHostedLoginTranslation but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setHostedLoginTranslationWithHttpInfo(\Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationRequest $settingsServiceSetHostedLoginTranslationRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/SetHostedLoginTranslation';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceSetHostedLoginTranslationRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceSetHostedLoginTranslationResponse::class
        );
        return $result;
    }

    /**
     * Set Security Settings
     * Set the security settings of the instance.   Required permissions:    - `iam.policy.write`

     * @return \Zitadel\Client\Models\SettingsServiceSetSecuritySettingsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function setSecuritySettings(\Zitadel\Client\Models\SettingsServiceSetSecuritySettingsRequest $settingsServiceSetSecuritySettingsRequest)
    {
        $apiResult = $this->setSecuritySettingsWithHttpInfo($settingsServiceSetSecuritySettingsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for setSecuritySettings but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\SettingsServiceSetSecuritySettingsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\SettingsServiceSetSecuritySettingsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function setSecuritySettingsWithHttpInfo(\Zitadel\Client\Models\SettingsServiceSetSecuritySettingsRequest $settingsServiceSetSecuritySettingsRequest): ApiResult
    {
        $path = '/zitadel.settings.v2.SettingsService/SetSecuritySettings';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $settingsServiceSetSecuritySettingsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\SettingsServiceSetSecuritySettingsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\SettingsServiceSetSecuritySettingsResponse::class
        );
        return $result;
    }
}
