<?php

/**
 * Zitadel SDK
 * The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 * Generated by: https://openapi-generator.tech
 */

declare(strict_types=1);

namespace Zitadel\Client\Api;

use Zitadel\Client\ApiClient;
use Zitadel\Client\ApiException;
use Zitadel\Client\ApiResult;
use Zitadel\Client\Configuration;
use Zitadel\Client\DefaultApiClient;
use Zitadel\Client\ValueSerializer;

/**
 * UserServiceApi provides methods for the UserService API group.
 */

class UserServiceApi extends BaseApi
{
    /**
     * Create a new human user
     * Deprecated: Use [CreateUser](apis/resources/user_service_v2/user-service-create-user.api.mdx) to create a new user of type human instead.   Create/import a new user with the type human. The newly created user will get a verification email if either the email address is not marked as verified and you did not request the verification to be returned.

     * @return \Zitadel\Client\Models\UserServiceAddHumanUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addHumanUser(\Zitadel\Client\Models\UserServiceAddHumanUserRequest $userServiceAddHumanUserRequest)
    {
        $apiResult = $this->addHumanUserWithHttpInfo($userServiceAddHumanUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addHumanUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddHumanUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddHumanUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addHumanUserWithHttpInfo(\Zitadel\Client\Models\UserServiceAddHumanUserRequest $userServiceAddHumanUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddHumanUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddHumanUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddHumanUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddHumanUserResponse::class
        );
        return $result;
    }

    /**
     * Add link to an identity provider to an user
     * Add link to an identity provider to an user..

     * @return \Zitadel\Client\Models\UserServiceAddIDPLinkResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addIDPLink(\Zitadel\Client\Models\UserServiceAddIDPLinkRequest $userServiceAddIDPLinkRequest)
    {
        $apiResult = $this->addIDPLinkWithHttpInfo($userServiceAddIDPLinkRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addIDPLink but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddIDPLinkResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddIDPLinkResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addIDPLinkWithHttpInfo(\Zitadel\Client\Models\UserServiceAddIDPLinkRequest $userServiceAddIDPLinkRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddIDPLink';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddIDPLinkRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddIDPLinkResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddIDPLinkResponse::class
        );
        return $result;
    }

    /**
     * Add a Key
     * Add a keys that can be used to securely authenticate at the Zitadel APIs using JWT profile authentication using short-lived tokens.  Make sure you store the returned key safely, as you won't be able to read it from the Zitadel API anymore.  Only users of type machine can have keys.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceAddKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addKey(\Zitadel\Client\Models\UserServiceAddKeyRequest $userServiceAddKeyRequest)
    {
        $apiResult = $this->addKeyWithHttpInfo($userServiceAddKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addKeyWithHttpInfo(\Zitadel\Client\Models\UserServiceAddKeyRequest $userServiceAddKeyRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddKeyResponse::class
        );
        return $result;
    }

    /**
     * Add OTP Email for a user
     * Add a new One-Time Password (OTP) Email factor to the authenticated user. OTP Email will enable the user to verify a OTP with the latest verified email. The email has to be verified to add the second factor..

     * @return \Zitadel\Client\Models\UserServiceAddOTPEmailResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPEmail(\Zitadel\Client\Models\UserServiceAddOTPEmailRequest $userServiceAddOTPEmailRequest)
    {
        $apiResult = $this->addOTPEmailWithHttpInfo($userServiceAddOTPEmailRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOTPEmail but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddOTPEmailResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddOTPEmailResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPEmailWithHttpInfo(\Zitadel\Client\Models\UserServiceAddOTPEmailRequest $userServiceAddOTPEmailRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddOTPEmail';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddOTPEmailRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddOTPEmailResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddOTPEmailResponse::class
        );
        return $result;
    }

    /**
     * Add OTP SMS for a user
     * Add a new One-Time Password (OTP) SMS factor to the authenticated user. OTP SMS will enable the user to verify a OTP with the latest verified phone number. The phone number has to be verified to add the second factor..

     * @return \Zitadel\Client\Models\UserServiceAddOTPSMSResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPSMS(\Zitadel\Client\Models\UserServiceAddOTPSMSRequest $userServiceAddOTPSMSRequest)
    {
        $apiResult = $this->addOTPSMSWithHttpInfo($userServiceAddOTPSMSRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addOTPSMS but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddOTPSMSResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddOTPSMSResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addOTPSMSWithHttpInfo(\Zitadel\Client\Models\UserServiceAddOTPSMSRequest $userServiceAddOTPSMSRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddOTPSMS';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddOTPSMSRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddOTPSMSResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddOTPSMSResponse::class
        );
        return $result;
    }

    /**
     * Add a Personal Access Token
     * Personal access tokens (PAT) are the easiest way to authenticate to the Zitadel APIs.  Make sure you store the returned PAT safely, as you won't be able to read it from the Zitadel API anymore.  Only users of type machine can have personal access tokens.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceAddPersonalAccessTokenResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addPersonalAccessToken(\Zitadel\Client\Models\UserServiceAddPersonalAccessTokenRequest $userServiceAddPersonalAccessTokenRequest)
    {
        $apiResult = $this->addPersonalAccessTokenWithHttpInfo($userServiceAddPersonalAccessTokenRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addPersonalAccessToken but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddPersonalAccessTokenResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddPersonalAccessTokenResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addPersonalAccessTokenWithHttpInfo(\Zitadel\Client\Models\UserServiceAddPersonalAccessTokenRequest $userServiceAddPersonalAccessTokenRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddPersonalAccessToken';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddPersonalAccessTokenRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddPersonalAccessTokenResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddPersonalAccessTokenResponse::class
        );
        return $result;
    }

    /**
     * Add a Users Secret
     * Generates a client secret for the user.  The client id is the users username.  If the user already has a secret, it is overwritten.  Only users of type machine can have a secret.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceAddSecretResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function addSecret(\Zitadel\Client\Models\UserServiceAddSecretRequest $userServiceAddSecretRequest)
    {
        $apiResult = $this->addSecretWithHttpInfo($userServiceAddSecretRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for addSecret but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceAddSecretResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceAddSecretResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function addSecretWithHttpInfo(\Zitadel\Client\Models\UserServiceAddSecretRequest $userServiceAddSecretRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/AddSecret';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceAddSecretRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceAddSecretResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceAddSecretResponse::class
        );
        return $result;
    }

    /**
     * Create an invite code for a user
     * Create an invite code for a user to initialize their first authentication method (password, passkeys, IdP) depending on the organization's available methods.  If an invite code has been created previously, it's url template and application name will be used as defaults for the new code.  The new code will overwrite the previous one and make it invalid.  Note: It is possible to reissue a new code only when the previous code has expired, or when the user provides a wrong code three or more times during verification.

     * @return \Zitadel\Client\Models\UserServiceCreateInviteCodeResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createInviteCode(\Zitadel\Client\Models\UserServiceCreateInviteCodeRequest $userServiceCreateInviteCodeRequest)
    {
        $apiResult = $this->createInviteCodeWithHttpInfo($userServiceCreateInviteCodeRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createInviteCode but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceCreateInviteCodeResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceCreateInviteCodeResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createInviteCodeWithHttpInfo(\Zitadel\Client\Models\UserServiceCreateInviteCodeRequest $userServiceCreateInviteCodeRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/CreateInviteCode';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceCreateInviteCodeRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceCreateInviteCodeResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceCreateInviteCodeResponse::class
        );
        return $result;
    }

    /**
     * Create a passkey registration link for a user
     * Create a passkey registration link which includes a code and either return it or send it to the user..

     * @return \Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createPasskeyRegistrationLink(\Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkRequest $userServiceCreatePasskeyRegistrationLinkRequest)
    {
        $apiResult = $this->createPasskeyRegistrationLinkWithHttpInfo($userServiceCreatePasskeyRegistrationLinkRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createPasskeyRegistrationLink but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createPasskeyRegistrationLinkWithHttpInfo(\Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkRequest $userServiceCreatePasskeyRegistrationLinkRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/CreatePasskeyRegistrationLink';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceCreatePasskeyRegistrationLinkRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceCreatePasskeyRegistrationLinkResponse::class
        );
        return $result;
    }

    /**
     * Create a User
     * Create a new human or machine user in the specified organization.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceCreateUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function createUser(\Zitadel\Client\Models\UserServiceCreateUserRequest $userServiceCreateUserRequest)
    {
        $apiResult = $this->createUserWithHttpInfo($userServiceCreateUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for createUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceCreateUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceCreateUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function createUserWithHttpInfo(\Zitadel\Client\Models\UserServiceCreateUserRequest $userServiceCreateUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/CreateUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceCreateUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceCreateUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceCreateUserResponse::class
        );
        return $result;
    }

    /**
     * Deactivate user
     * The state of the user will be changed to 'deactivated'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'deactivated'. Use deactivate user when the user should not be able to use the account anymore, but you still need access to the user data..

     * @return \Zitadel\Client\Models\UserServiceDeactivateUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateUser(\Zitadel\Client\Models\UserServiceDeactivateUserRequest $userServiceDeactivateUserRequest)
    {
        $apiResult = $this->deactivateUserWithHttpInfo($userServiceDeactivateUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deactivateUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceDeactivateUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceDeactivateUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deactivateUserWithHttpInfo(\Zitadel\Client\Models\UserServiceDeactivateUserRequest $userServiceDeactivateUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/DeactivateUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceDeactivateUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceDeactivateUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceDeactivateUserResponse::class
        );
        return $result;
    }

    /**
     * Delete user
     * The state of the user will be changed to 'deleted'. The user will not be able to log in anymore. Endpoints requesting this user will return an error 'User not found..

     * @return \Zitadel\Client\Models\UserServiceDeleteUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteUser(\Zitadel\Client\Models\UserServiceDeleteUserRequest $userServiceDeleteUserRequest)
    {
        $apiResult = $this->deleteUserWithHttpInfo($userServiceDeleteUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceDeleteUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceDeleteUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteUserWithHttpInfo(\Zitadel\Client\Models\UserServiceDeleteUserRequest $userServiceDeleteUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/DeleteUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceDeleteUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceDeleteUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceDeleteUserResponse::class
        );
        return $result;
    }

    /**
     * Delete User Metadata
     * Delete metadata objects from an user with a specific key.   Required permission:   - `user.write`

     * @return \Zitadel\Client\Models\UserServiceDeleteUserMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteUserMetadata(\Zitadel\Client\Models\UserServiceDeleteUserMetadataRequest $userServiceDeleteUserMetadataRequest)
    {
        $apiResult = $this->deleteUserMetadataWithHttpInfo($userServiceDeleteUserMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for deleteUserMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceDeleteUserMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceDeleteUserMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function deleteUserMetadataWithHttpInfo(\Zitadel\Client\Models\UserServiceDeleteUserMetadataRequest $userServiceDeleteUserMetadataRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/DeleteUserMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceDeleteUserMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceDeleteUserMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceDeleteUserMetadataResponse::class
        );
        return $result;
    }

    /**
     * Generate single-use recovery codes for a user
     * Generate new single-use recovery codes for the authenticated user. Recovery codes can be used to recover access to the account if other second factors are not available.

     * @return \Zitadel\Client\Models\UserServiceGenerateRecoveryCodesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function generateRecoveryCodes(\Zitadel\Client\Models\UserServiceGenerateRecoveryCodesRequest $userServiceGenerateRecoveryCodesRequest)
    {
        $apiResult = $this->generateRecoveryCodesWithHttpInfo($userServiceGenerateRecoveryCodesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for generateRecoveryCodes but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceGenerateRecoveryCodesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceGenerateRecoveryCodesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function generateRecoveryCodesWithHttpInfo(\Zitadel\Client\Models\UserServiceGenerateRecoveryCodesRequest $userServiceGenerateRecoveryCodesRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/GenerateRecoveryCodes';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceGenerateRecoveryCodesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceGenerateRecoveryCodesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceGenerateRecoveryCodesResponse::class
        );
        return $result;
    }

    /**
     * User by ID
     * Returns the full user object (human or machine) including the profile, email, etc..

     * @return \Zitadel\Client\Models\UserServiceGetUserByIDResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function getUserByID(\Zitadel\Client\Models\UserServiceGetUserByIDRequest $userServiceGetUserByIDRequest)
    {
        $apiResult = $this->getUserByIDWithHttpInfo($userServiceGetUserByIDRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for getUserByID but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceGetUserByIDResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceGetUserByIDResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function getUserByIDWithHttpInfo(\Zitadel\Client\Models\UserServiceGetUserByIDRequest $userServiceGetUserByIDRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/GetUserByID';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceGetUserByIDRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceGetUserByIDResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceGetUserByIDResponse::class
        );
        return $result;
    }

    /**
     * MFA Init Skipped
     * Update the last time the user has skipped MFA initialization. The server timestamp is used.

     * @return \Zitadel\Client\Models\UserServiceHumanMFAInitSkippedResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function humanMFAInitSkipped(\Zitadel\Client\Models\UserServiceHumanMFAInitSkippedRequest $userServiceHumanMFAInitSkippedRequest)
    {
        $apiResult = $this->humanMFAInitSkippedWithHttpInfo($userServiceHumanMFAInitSkippedRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for humanMFAInitSkipped but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceHumanMFAInitSkippedResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceHumanMFAInitSkippedResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function humanMFAInitSkippedWithHttpInfo(\Zitadel\Client\Models\UserServiceHumanMFAInitSkippedRequest $userServiceHumanMFAInitSkippedRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/HumanMFAInitSkipped';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceHumanMFAInitSkippedRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceHumanMFAInitSkippedResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceHumanMFAInitSkippedResponse::class
        );
        return $result;
    }

    /**
     * ListAuthenticationFactors

     * @return \Zitadel\Client\Models\UserServiceListAuthenticationFactorsResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthenticationFactors(\Zitadel\Client\Models\UserServiceListAuthenticationFactorsRequest $userServiceListAuthenticationFactorsRequest)
    {
        $apiResult = $this->listAuthenticationFactorsWithHttpInfo($userServiceListAuthenticationFactorsRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAuthenticationFactors but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListAuthenticationFactorsResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListAuthenticationFactorsResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthenticationFactorsWithHttpInfo(\Zitadel\Client\Models\UserServiceListAuthenticationFactorsRequest $userServiceListAuthenticationFactorsRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListAuthenticationFactors';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListAuthenticationFactorsRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListAuthenticationFactorsResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListAuthenticationFactorsResponse::class
        );
        return $result;
    }

    /**
     * List all possible authentication methods of a user
     * List all possible authentication methods of a user like password, passwordless, (T)OTP and more..

     * @return \Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthenticationMethodTypes(\Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesRequest $userServiceListAuthenticationMethodTypesRequest)
    {
        $apiResult = $this->listAuthenticationMethodTypesWithHttpInfo($userServiceListAuthenticationMethodTypesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listAuthenticationMethodTypes but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listAuthenticationMethodTypesWithHttpInfo(\Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesRequest $userServiceListAuthenticationMethodTypesRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListAuthenticationMethodTypes';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListAuthenticationMethodTypesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListAuthenticationMethodTypesResponse::class
        );
        return $result;
    }

    /**
     * List links to an identity provider of an user
     * List links to an identity provider of an user.

     * @return \Zitadel\Client\Models\UserServiceListIDPLinksResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listIDPLinks(\Zitadel\Client\Models\UserServiceListIDPLinksRequest $userServiceListIDPLinksRequest)
    {
        $apiResult = $this->listIDPLinksWithHttpInfo($userServiceListIDPLinksRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listIDPLinks but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListIDPLinksResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListIDPLinksResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listIDPLinksWithHttpInfo(\Zitadel\Client\Models\UserServiceListIDPLinksRequest $userServiceListIDPLinksRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListIDPLinks';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListIDPLinksRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListIDPLinksResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListIDPLinksResponse::class
        );
        return $result;
    }

    /**
     * Search Keys
     * List all matching keys. By default all keys of the instance on which the caller has permission to read the owning users are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - user.read

     * @return \Zitadel\Client\Models\UserServiceListKeysResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listKeys(\Zitadel\Client\Models\UserServiceListKeysRequest $userServiceListKeysRequest)
    {
        $apiResult = $this->listKeysWithHttpInfo($userServiceListKeysRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listKeys but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListKeysResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListKeysResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listKeysWithHttpInfo(\Zitadel\Client\Models\UserServiceListKeysRequest $userServiceListKeysRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListKeys';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListKeysRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListKeysResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListKeysResponse::class
        );
        return $result;
    }

    /**
     * List passkeys of an user
     * List passkeys of an user

     * @return \Zitadel\Client\Models\UserServiceListPasskeysResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listPasskeys(\Zitadel\Client\Models\UserServiceListPasskeysRequest $userServiceListPasskeysRequest)
    {
        $apiResult = $this->listPasskeysWithHttpInfo($userServiceListPasskeysRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listPasskeys but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListPasskeysResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListPasskeysResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listPasskeysWithHttpInfo(\Zitadel\Client\Models\UserServiceListPasskeysRequest $userServiceListPasskeysRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListPasskeys';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListPasskeysRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListPasskeysResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListPasskeysResponse::class
        );
        return $result;
    }

    /**
     * Search Personal Access Tokens
     * List all personal access tokens. By default all personal access tokens of the instance on which the caller has permission to read the owning users are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - user.read

     * @return \Zitadel\Client\Models\UserServiceListPersonalAccessTokensResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listPersonalAccessTokens(\Zitadel\Client\Models\UserServiceListPersonalAccessTokensRequest $userServiceListPersonalAccessTokensRequest)
    {
        $apiResult = $this->listPersonalAccessTokensWithHttpInfo($userServiceListPersonalAccessTokensRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listPersonalAccessTokens but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListPersonalAccessTokensResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListPersonalAccessTokensResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listPersonalAccessTokensWithHttpInfo(\Zitadel\Client\Models\UserServiceListPersonalAccessTokensRequest $userServiceListPersonalAccessTokensRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListPersonalAccessTokens';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListPersonalAccessTokensRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListPersonalAccessTokensResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListPersonalAccessTokensResponse::class
        );
        return $result;
    }

    /**
     * List User Metadata
     * List metadata of an user filtered by query.   Required permission:   - `user.read`

     * @return \Zitadel\Client\Models\UserServiceListUserMetadataResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listUserMetadata(\Zitadel\Client\Models\UserServiceListUserMetadataRequest $userServiceListUserMetadataRequest)
    {
        $apiResult = $this->listUserMetadataWithHttpInfo($userServiceListUserMetadataRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listUserMetadata but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListUserMetadataResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListUserMetadataResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listUserMetadataWithHttpInfo(\Zitadel\Client\Models\UserServiceListUserMetadataRequest $userServiceListUserMetadataRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListUserMetadata';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListUserMetadataRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListUserMetadataResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListUserMetadataResponse::class
        );
        return $result;
    }

    /**
     * Search Users
     * Search for users. By default, we will return all users of your instance that you have permission to read. Make sure to include a limit and sorting for pagination.

     * @return \Zitadel\Client\Models\UserServiceListUsersResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function listUsers(\Zitadel\Client\Models\UserServiceListUsersRequest $userServiceListUsersRequest)
    {
        $apiResult = $this->listUsersWithHttpInfo($userServiceListUsersRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for listUsers but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceListUsersResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceListUsersResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function listUsersWithHttpInfo(\Zitadel\Client\Models\UserServiceListUsersRequest $userServiceListUsersRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ListUsers';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceListUsersRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceListUsersResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceListUsersResponse::class
        );
        return $result;
    }

    /**
     * Lock user
     * The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.)..

     * @return \Zitadel\Client\Models\UserServiceLockUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function lockUser(\Zitadel\Client\Models\UserServiceLockUserRequest $userServiceLockUserRequest)
    {
        $apiResult = $this->lockUserWithHttpInfo($userServiceLockUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for lockUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceLockUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceLockUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function lockUserWithHttpInfo(\Zitadel\Client\Models\UserServiceLockUserRequest $userServiceLockUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/LockUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceLockUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceLockUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceLockUserResponse::class
        );
        return $result;
    }

    /**
     * Request a code to reset a password
     * Request a code to reset a password..

     * @return \Zitadel\Client\Models\UserServicePasswordResetResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function passwordReset(\Zitadel\Client\Models\UserServicePasswordResetRequest $userServicePasswordResetRequest)
    {
        $apiResult = $this->passwordResetWithHttpInfo($userServicePasswordResetRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for passwordReset but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServicePasswordResetResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServicePasswordResetResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function passwordResetWithHttpInfo(\Zitadel\Client\Models\UserServicePasswordResetRequest $userServicePasswordResetRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/PasswordReset';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServicePasswordResetRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServicePasswordResetResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServicePasswordResetResponse::class
        );
        return $result;
    }

    /**
     * Reactivate user
     * Reactivate a user with the state 'deactivated'. The user will be able to log in again afterward. The endpoint returns an error if the user is not in the state 'deactivated'..

     * @return \Zitadel\Client\Models\UserServiceReactivateUserResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateUser(\Zitadel\Client\Models\UserServiceReactivateUserRequest $userServiceReactivateUserRequest)
    {
        $apiResult = $this->reactivateUserWithHttpInfo($userServiceReactivateUserRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for reactivateUser but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceReactivateUserResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceReactivateUserResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function reactivateUserWithHttpInfo(\Zitadel\Client\Models\UserServiceReactivateUserRequest $userServiceReactivateUserRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ReactivateUser';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceReactivateUserRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceReactivateUserResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceReactivateUserResponse::class
        );
        return $result;
    }

    /**
     * Start the registration of passkey for a user
     * Start the registration of a passkey for a user, as a response the public key credential creation options are returned, which are used to verify the passkey..

     * @return \Zitadel\Client\Models\UserServiceRegisterPasskeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function registerPasskey(\Zitadel\Client\Models\UserServiceRegisterPasskeyRequest $userServiceRegisterPasskeyRequest)
    {
        $apiResult = $this->registerPasskeyWithHttpInfo($userServiceRegisterPasskeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for registerPasskey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRegisterPasskeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRegisterPasskeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function registerPasskeyWithHttpInfo(\Zitadel\Client\Models\UserServiceRegisterPasskeyRequest $userServiceRegisterPasskeyRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RegisterPasskey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRegisterPasskeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRegisterPasskeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRegisterPasskeyResponse::class
        );
        return $result;
    }

    /**
     * Start the registration of a TOTP generator for a user
     * Start the registration of a TOTP generator for a user, as a response a secret returned, which is used to initialize a TOTP app or device..

     * @return \Zitadel\Client\Models\UserServiceRegisterTOTPResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function registerTOTP(\Zitadel\Client\Models\UserServiceRegisterTOTPRequest $userServiceRegisterTOTPRequest)
    {
        $apiResult = $this->registerTOTPWithHttpInfo($userServiceRegisterTOTPRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for registerTOTP but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRegisterTOTPResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRegisterTOTPResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function registerTOTPWithHttpInfo(\Zitadel\Client\Models\UserServiceRegisterTOTPRequest $userServiceRegisterTOTPRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RegisterTOTP';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRegisterTOTPRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRegisterTOTPResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRegisterTOTPResponse::class
        );
        return $result;
    }

    /**
     * Start the registration of a u2f token for a user
     * Start the registration of a u2f token for a user, as a response the public key credential creation options are returned, which are used to verify the u2f token..

     * @return \Zitadel\Client\Models\UserServiceRegisterU2FResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function registerU2F(\Zitadel\Client\Models\UserServiceRegisterU2FRequest $userServiceRegisterU2FRequest)
    {
        $apiResult = $this->registerU2FWithHttpInfo($userServiceRegisterU2FRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for registerU2F but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRegisterU2FResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRegisterU2FResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function registerU2FWithHttpInfo(\Zitadel\Client\Models\UserServiceRegisterU2FRequest $userServiceRegisterU2FRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RegisterU2F';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRegisterU2FRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRegisterU2FResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRegisterU2FResponse::class
        );
        return $result;
    }

    /**
     * Remove link of an identity provider to an user
     * Remove link of an identity provider to an user.

     * @return \Zitadel\Client\Models\UserServiceRemoveIDPLinkResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeIDPLink(\Zitadel\Client\Models\UserServiceRemoveIDPLinkRequest $userServiceRemoveIDPLinkRequest)
    {
        $apiResult = $this->removeIDPLinkWithHttpInfo($userServiceRemoveIDPLinkRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeIDPLink but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveIDPLinkResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveIDPLinkResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeIDPLinkWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveIDPLinkRequest $userServiceRemoveIDPLinkRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveIDPLink';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveIDPLinkRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveIDPLinkResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveIDPLinkResponse::class
        );
        return $result;
    }

    /**
     * Remove a Key
     * Remove a machine users key by the given key ID and an optionally given user ID.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceRemoveKeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeKey(\Zitadel\Client\Models\UserServiceRemoveKeyRequest $userServiceRemoveKeyRequest)
    {
        $apiResult = $this->removeKeyWithHttpInfo($userServiceRemoveKeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeKey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveKeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveKeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeKeyWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveKeyRequest $userServiceRemoveKeyRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveKey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveKeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveKeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveKeyResponse::class
        );
        return $result;
    }

    /**
     * Remove One-Time Password (OTP) Email from a user
     * Remove the configured One-Time Password (OTP) Email factor of a user. As only one OTP Email per user is allowed, the user will not have OTP Email as a second factor afterward.

     * @return \Zitadel\Client\Models\UserServiceRemoveOTPEmailResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPEmail(\Zitadel\Client\Models\UserServiceRemoveOTPEmailRequest $userServiceRemoveOTPEmailRequest)
    {
        $apiResult = $this->removeOTPEmailWithHttpInfo($userServiceRemoveOTPEmailRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeOTPEmail but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveOTPEmailResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveOTPEmailResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPEmailWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveOTPEmailRequest $userServiceRemoveOTPEmailRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveOTPEmail';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveOTPEmailRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveOTPEmailResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveOTPEmailResponse::class
        );
        return $result;
    }

    /**
     * Remove One-Time Password (OTP) SMS from a user
     * Remove the configured One-Time Password (OTP) SMS factor of a user. As only one OTP SMS per user is allowed, the user will not have OTP SMS as a second factor afterward.

     * @return \Zitadel\Client\Models\UserServiceRemoveOTPSMSResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPSMS(\Zitadel\Client\Models\UserServiceRemoveOTPSMSRequest $userServiceRemoveOTPSMSRequest)
    {
        $apiResult = $this->removeOTPSMSWithHttpInfo($userServiceRemoveOTPSMSRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeOTPSMS but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveOTPSMSResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveOTPSMSResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeOTPSMSWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveOTPSMSRequest $userServiceRemoveOTPSMSRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveOTPSMS';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveOTPSMSRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveOTPSMSResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveOTPSMSResponse::class
        );
        return $result;
    }

    /**
     * Remove passkey from a user
     * Remove passkey from a user.

     * @return \Zitadel\Client\Models\UserServiceRemovePasskeyResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removePasskey(\Zitadel\Client\Models\UserServiceRemovePasskeyRequest $userServiceRemovePasskeyRequest)
    {
        $apiResult = $this->removePasskeyWithHttpInfo($userServiceRemovePasskeyRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removePasskey but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemovePasskeyResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemovePasskeyResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removePasskeyWithHttpInfo(\Zitadel\Client\Models\UserServiceRemovePasskeyRequest $userServiceRemovePasskeyRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemovePasskey';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemovePasskeyRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemovePasskeyResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemovePasskeyResponse::class
        );
        return $result;
    }

    /**
     * Remove a Personal Access Token
     * Removes a machine users personal access token by the given token ID and an optionally given user ID.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removePersonalAccessToken(\Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenRequest $userServiceRemovePersonalAccessTokenRequest)
    {
        $apiResult = $this->removePersonalAccessTokenWithHttpInfo($userServiceRemovePersonalAccessTokenRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removePersonalAccessToken but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removePersonalAccessTokenWithHttpInfo(\Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenRequest $userServiceRemovePersonalAccessTokenRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemovePersonalAccessToken';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemovePersonalAccessTokenRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemovePersonalAccessTokenResponse::class
        );
        return $result;
    }

    /**
     * Delete the user phone
     * Deprecated: [Update the users phone field](apis/resources/user_service_v2/user-service-update-user.api.mdx) to remove the phone number.   Delete the phone number of a user.

     * @return \Zitadel\Client\Models\UserServiceRemovePhoneResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removePhone(\Zitadel\Client\Models\UserServiceRemovePhoneRequest $userServiceRemovePhoneRequest)
    {
        $apiResult = $this->removePhoneWithHttpInfo($userServiceRemovePhoneRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removePhone but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemovePhoneResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemovePhoneResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removePhoneWithHttpInfo(\Zitadel\Client\Models\UserServiceRemovePhoneRequest $userServiceRemovePhoneRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemovePhone';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemovePhoneRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemovePhoneResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemovePhoneResponse::class
        );
        return $result;
    }

    /**
     * Remove recovery codes from a user
     * Remove all recovery codes from the authenticated user. This will disable the recovery code second factor.

     * @return \Zitadel\Client\Models\UserServiceRemoveRecoveryCodesResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeRecoveryCodes(\Zitadel\Client\Models\UserServiceRemoveRecoveryCodesRequest $userServiceRemoveRecoveryCodesRequest)
    {
        $apiResult = $this->removeRecoveryCodesWithHttpInfo($userServiceRemoveRecoveryCodesRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeRecoveryCodes but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveRecoveryCodesResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveRecoveryCodesResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeRecoveryCodesWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveRecoveryCodesRequest $userServiceRemoveRecoveryCodesRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveRecoveryCodes';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveRecoveryCodesRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveRecoveryCodesResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveRecoveryCodesResponse::class
        );
        return $result;
    }

    /**
     * Remove a Users Secret
     * Remove the current client ID and client secret from a machine user.   Required permission:    - user.write

     * @return \Zitadel\Client\Models\UserServiceRemoveSecretResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeSecret(\Zitadel\Client\Models\UserServiceRemoveSecretRequest $userServiceRemoveSecretRequest)
    {
        $apiResult = $this->removeSecretWithHttpInfo($userServiceRemoveSecretRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeSecret but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveSecretResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveSecretResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeSecretWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveSecretRequest $userServiceRemoveSecretRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveSecret';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveSecretRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveSecretResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveSecretResponse::class
        );
        return $result;
    }

    /**
     * Remove TOTP generator from a user
     * Remove the configured TOTP generator of a user. As only one TOTP generator per user is allowed, the user will not have TOTP as a second factor afterward.

     * @return \Zitadel\Client\Models\UserServiceRemoveTOTPResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTOTP(\Zitadel\Client\Models\UserServiceRemoveTOTPRequest $userServiceRemoveTOTPRequest)
    {
        $apiResult = $this->removeTOTPWithHttpInfo($userServiceRemoveTOTPRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeTOTP but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveTOTPResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveTOTPResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeTOTPWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveTOTPRequest $userServiceRemoveTOTPRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveTOTP';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveTOTPRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveTOTPResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveTOTPResponse::class
        );
        return $result;
    }

    /**
     * Remove u2f token from a user
     * Remove u2f token from a user.

     * @return \Zitadel\Client\Models\UserServiceRemoveU2FResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function removeU2F(\Zitadel\Client\Models\UserServiceRemoveU2FRequest $userServiceRemoveU2FRequest)
    {
        $apiResult = $this->removeU2FWithHttpInfo($userServiceRemoveU2FRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for removeU2F but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceRemoveU2FResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceRemoveU2FResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function removeU2FWithHttpInfo(\Zitadel\Client\Models\UserServiceRemoveU2FRequest $userServiceRemoveU2FRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/RemoveU2F';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceRemoveU2FRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceRemoveU2FResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceRemoveU2FResponse::class
        );
        return $result;
    }

    /**
     * Resend code to verify user email
     * Resend code to verify user email

     * @return \Zitadel\Client\Models\UserServiceResendEmailCodeResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resendEmailCode(\Zitadel\Client\Models\UserServiceResendEmailCodeRequest $userServiceResendEmailCodeRequest)
    {
        $apiResult = $this->resendEmailCodeWithHttpInfo($userServiceResendEmailCodeRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resendEmailCode but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceResendEmailCodeResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceResendEmailCodeResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resendEmailCodeWithHttpInfo(\Zitadel\Client\Models\UserServiceResendEmailCodeRequest $userServiceResendEmailCodeRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ResendEmailCode';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceResendEmailCodeRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceResendEmailCodeResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceResendEmailCodeResponse::class
        );
        return $result;
    }

    /**
     * Resend an invite code for a user
     * Deprecated: Use [CreateInviteCode](apis/resources/user_service_v2/user-service-create-invite-code.api.mdx) instead.   Resend an invite code for a user to initialize their first authentication method (password, passkeys, IdP) depending on the organization's available methods.  A resend is only possible if a code has been created previously and sent to the user. If there is no code or it was directly returned, an error will be returned.

     * @return \Zitadel\Client\Models\UserServiceResendInviteCodeResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resendInviteCode(\Zitadel\Client\Models\UserServiceResendInviteCodeRequest $userServiceResendInviteCodeRequest)
    {
        $apiResult = $this->resendInviteCodeWithHttpInfo($userServiceResendInviteCodeRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resendInviteCode but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceResendInviteCodeResponse $result */
        $result = $apiResult->data;
        return $result;
    }

    /**

     * @return ApiResult<\Zitadel\Client\Models\UserServiceResendInviteCodeResponse>
     * @throws \Zitadel\Client\ApiException
     */
    public function resendInviteCodeWithHttpInfo(\Zitadel\Client\Models\UserServiceResendInviteCodeRequest $userServiceResendInviteCodeRequest): ApiResult
    {
        $path = '/zitadel.user.v2.UserService/ResendInviteCode';
        $queryParams = [];
        $headerParams = [];
        $requestBody = $userServiceResendInviteCodeRequest;

        /** @var ApiResult<\Zitadel\Client\Models\UserServiceResendInviteCodeResponse> $result */
        $result = $this->invokeApiForResult(
            'POST',
            $path,
            $queryParams,
            $headerParams,
            $requestBody,
            ['application/json'],
            'application/json',
            \Zitadel\Client\Models\UserServiceResendInviteCodeResponse::class
        );
        return $result;
    }

    /**
     * Resend code to verify user phone number
     * Resend code to verify user phone number.

     * @return \Zitadel\Client\Models\UserServiceResendPhoneCodeResponse
     * @throws \Zitadel\Client\ApiException
     */
    public function resendPhoneCode(\Zitadel\Client\Models\UserServiceResendPhoneCodeRequest $userServiceResendPhoneCodeRequest)
    {
        $apiResult = $this->resendPhoneCodeWithHttpInfo($userServiceResendPhoneCodeRequest);
        if ($apiResult->data === null) {
            /* This operation declares a non-void return type, so an empty /
             * undecodable response body is a contract violation. Surface it
             * as the SDK's typed ApiException (with the status, body and
             * headers) instead of returning a silent null, matching the
             * throwing SDKs. */
            throw new \Zitadel\Client\ApiException(
                'Expected a response body for resendPhoneCode but received none',
                $apiResult->statusCode,
                $apiResult->headers,
                $apiResult->rawBody
            );
        }
        /** @var \Zitadel\Client\Models\UserServiceResendPhoneCodeResponse $result */
[...]
